.btn{
  border: 0;
  outline: 0;
  text-decoration: none;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled, &--disabled{
    background: var(--grey-lite)!important;
    color: rgb(157, 163, 184)!important;
    cursor: not-allowed!important;
    border: none!important;
    outline: 0!important;

    &:hover{
      background: var(--grey-lite)!important;
      color: rgb(157, 163, 184)!important;
    }
  }

  &:hover{
    text-decoration: none;
  }

  &--blue{
    background: rgb(46, 113, 240);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(46, 113, 240);
    outline: rgb(46, 113, 240);

    &:hover{
      background: rgb(62, 128, 255);
      outline: rgb(62, 128, 255);
      color: rgb(255, 255, 255);
      border: 1px solid rgb(62, 128, 255);
    }
  }

  &--green{
    background: var(--green-dark);
    color: var(--white);
    border: 1px solid var(--green-dark);
    outline: var(--green-dark);

    &:hover{
      background: var(--green-dark-hover);
      outline: var(--green-dark-hover);
      color: var(--white);
      border: 1px solid var(--green-dark-hover);
    }
  }

  &--white{
    background: var(--grey-lite);
    color: var(--green-dark);
    border: 0;
    outline: var(--green-dark-hover);
    font-size: 16px;
    font-weight: 400;

    &:hover{
      background: var(--grey-lite-hover);
      border: 0;
      outline: var(--grey-lite-hover);
      color: var(--green-dark);
    }
  }
}
