:root{
  --font-family: 'TT Norms Pro', sans-serif;
  --green: #03c15d;
  --red: #a80f31;
  --blue: #2e71f0;
  --white:#f1f1f3;
  --green-dark: #35464f;
  --green-dark-hover: #0082c7;
  --green-dark-hover-lite: #52b9ef;
  --dark: #1a191a;
  --grey:#777979;
  --grey-lite: #c0c1c1;
  --grey-lite-hover: #dee0e0;
  --bg:#262929;
  --img-trigle-right: url('/stabilitytop/img/arrow/trigle_right_gray.svg');
}
