:root{
  --font-family: 'TT Norms Pro', sans-serif;
  --green: rgb(16, 175, 107);
  --red: rgb(253, 42, 71);
  --blue: #2e71f0;
  --img-trigle-right: url('/stabilitytop/img/arrow/trigle_right_gray.svg');
}
