.icon{
  &--info{
    position: relative;
    background: var(--gold);
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    min-width:17px;
    min-height:17px;

    &:before{
      content:'i';
      font-size: 10px;
      line-height: 17px
    }
  }

}
