body{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  background: #fbfbfb;
}

h1{
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  color:var(--dark);
  margin-top: 12px;
  margin-bottom: 12px;
}


.page{
  padding: 25px 0 60px 0;
}
