.page__set{
  color:var(--dark);
  @media(min-width: 768px){
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;

    @media(min-width: 768px){
      max-width: 200px;
      margin-right: 30px;
    }

    & > .icon--info{
      color:white;
      margin-right: 15px;
    }

    & p{
      line-height: 150%;
    }
  }

  &__radio{
    & > li {
      padding: 5px 0;
      font-size: 14px;

      & > label{
        display: flex;
        align-items: center;
        cursor: pointer;

        & > input{
          margin-right: 13px;
        }
      }
    }

    &--desc{
      font-weight: 600;
    }

    @media(min-width: 768px){
      display: flex;

      & > li{
        margin-right: 25px;

        &:last-of-type{
          margin: 0;
        }
      }
    }
  }
}
