.htop{
  background: #141729;
  padding:14px;
  color:#2785e3;
  font-family: monospace;
  font-size: 14px;
}
.htop__line{
  display: flex;
  width:100%;
  justify-content: space-between;
}
.htop__bar-start{
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}
.htop__bar-start:before{
  content:'[';
  color:#55aa67;
  position: absolute;
  z-index: 2;
  background: #141729;
}
.htop__bar-start:after{
  content:'|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||';
  color:#55aa67;
  position: absolute;
}
.htop__bar-fix{
  width: 100%;
  background: #141729;
  position: absolute;
  z-index: 2;
}
.htop__bar-end{
  color:#8fa1a8;
}
.htop__bar-end:after{
  content:']';
  color:#55aa67;
}



.htop__line-bar{
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}
.htop__line-bar-fix{
  width: 100%;
  background: #141729;
  position: absolute;
  left:30%;
}
.htop__line-bar:after{
  content:'|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||';
}
.htop .green{
  color:#55aa67;
}
.htop .grey{
  color:#8fa1a8;
}
