.s-bonus-v1 {
  border-top: 1px solid #c7d2dc;
  background-color: #ebf1f7;
}

.s-bonus-v1 > .slot {
  /* common */
  width: 100%;
  max-width: 1216px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  /* common */
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.s-bonus-v1 > .slot > .image {
  width: 50%;
}

.s-bonus-v1 > .slot > .image > .mobile {
  
}

.s-bonus-v1 > .slot > .image > .mobile > img {
  display: block;
  width: 100%;
  height: auto;
}

.s-bonus-v1 > .slot > .image > .desktop {
  position: relative;
  width: 624px;
  height: 408px;
}

.s-bonus-v1 > .slot > .image > .desktop > img {
  display: block;
  transition: all .3s;
}

.s-bonus-v1 > .slot > .image > .desktop > img.book {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.s-bonus-v1 > .slot > .image > .desktop > img.table {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.s-bonus-v1 > .slot:hover > .image > .desktop > img.table {
  transform: translateX(-8px);
}

.s-bonus-v1 > .slot:hover > .image > .desktop > img.book {
  transform: translateX(8px);
}

.s-bonus-v1 > .slot > .content {
  width: 50%;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 48px;
}

.s-bonus-v1 > .slot > .content > .text-group {
  margin-bottom: 48px;
}

.s-bonus-v1 > .slot > .content > .text-group > .title {
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 500;
}

.s-bonus-v1 > .slot > .content > .text-group > .subtitle {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
}

.s-bonus-v1 > .slot > .content > dl {
  margin: 0;
  padding: 0;
}

.s-bonus-v1 > .slot > .content > dl > dt {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  padding: 0;
}

.s-bonus-v1 > .slot > .content > dl > dd {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 1216px) {

  .s-bonus-v1 > .slot > .image > .desktop {
    display: none;
  }
  .s-bonus-v1 > .slot > .image > .mobile {
    display: block;
  }
  .s-bonus-v1 > .slot > .content {
    padding-left: 32px;
  }

}

@media (max-width: 960px) {

  .s-bonus-v1 > .slot {
    flex-direction: column;
  }
  .s-bonus-v1 > .slot > .image {
    position: relative;
    top: -112px;
    z-index: 4;
    width: 100%;
    max-width: 624px;
    margin-bottom: -96px;
  }
  .s-bonus-v1 > .slot > .content {
    padding: 0;
    width: 100%;
    max-width: 480px;
  }

}

@media (max-width: 480px) {

  .s-bonus-v1 > .slot {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .s-bonus-v1 > .slot > .image {
    top: auto;
    margin-bottom: 24px;
  }
  .s-bonus-v1 > .slot > .content > .text-group > .title {
    margin-bottom: 16px;
    font-size: 40px;
  }
  .s-bonus-v1 > .slot > .content > .text-group > .subtitle {
    font-size: 18px;
  }
  .s-bonus-v1 > .slot > .content > .text-group {
    margin-bottom: 32px;
  }

}
