@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

html {
  font-size: 13px;
}
@media (min-width: 400px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 17px;
  }
}

body {
  color: #464646;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background: #f0f4fa;
}

/*** header ***/
.header{
  background: #fff;
  padding:0.5rem 0;
  font-size: 1.2rem;
  line-height: 1.7rem;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  position: fixed;
  z-index: 9999;
  width:100%;
  & .nav-link{
      color:#5a5aff!important;
      margin-right: 1rem;
  }
  & .form-inline{
      color:#5a5aff!important;
      line-height: 3rem;
  }
}
/*** / header ***/

/*** one ***/
.one{
  background: #fff;
  padding:100px 0;
  text-align: center;
  & h1{
   font-weight: 600;
   font-size: 2.2rem;
   //padding-bottom: 1rem;
  }
  &__promo{
    font-style: italic;
    color:#868686;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding-bottom: 2rem;
  }
  &__text{
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 600;
    & span{
      color:#5a5aff;
    }
  }
  &__company{
    font-style: italic;
    color:#868686;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding-top: 3rem;
  }
  &__imgsolo{
    text-align: center;
    img{
      width: 100%;
      max-width:300px;
    }
  }
  &__img{
    & img{
      display: inline-block;
      width:4rem;
      padding-right:1rem;
    }
  }
  & button{
    color: #5a5aff;
    border-color: #5a5aff;
    &:hover{
      background:#5a5aff;
    }
  }
}
@media all and (min-width: 1024px) {
  .one {
    height:100vh;
    display:flex;
    align-items: center;

    text-align: left;
    background: url('//hikornienko.github.io/finaly/img/coffemakes.png') no-repeat #fff;
    background-position: right;
    background-size: 40%;
    & h1{
        font-size: 3.2rem;
    }
    &__imgsolo{
      display:none;
    }
  }
}
/*** / one ***/

/*** two ***/
.two{
  padding:70px 0;
  color:#3f5060;
  & h2{
    text-align: center;
    color:#3f5060;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 2rem;
  }
  & .nav-link{
    background: #fff;
    border-radius: 2rem;
    padding:1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & #pills-tab .active{
    background:#5a5aff!important;
  }
  &__item{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 370px;
    & img{
      padding-top: 2rem;
    }
    & p{
      color:#000;
      font-size: 1.5rem;
      padding-top: 1rem;
    }
  }
  &__wrap{
    margin-top: 30px;
    background: #fff;
    border-radius: 2rem;
    padding:1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  &__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0.5rem 0;
    border-bottom: 1px solid #eee;
    &-last{
      color:#5a5aff;
      font-weight: 600;
      border-bottom: 0;
    }
    &-title{
      padding:0.5rem;
    }
    &-info{
      font-size: 1rem;
      padding: 1rem;
      min-width: 100%;

      display: flex;
      justify-content: space-between;
    }
  }
  &__wrap2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-left{
      margin-top: 30px;
      background: #fff;
      border-radius: 2rem;
      padding:1rem;
      font-size: 1rem;
      line-height: 1.6rem;
      &-title{
        color:#7e8fa5;
        font-size: 2rem;
        padding-bottom: 1rem;
      }
      &-block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & div{
          width:50%;
          padding:0.2rem;
          &:nth-child(even){
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
    &-right{
      margin-top: 30px;
      background: #fff;
      border-radius: 2rem;
      padding:1rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
      &-title{
        color:#7e8fa5;
        font-size: 2rem;
        padding-bottom: 1rem;
      }
      &-block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & div{
          width:50%;
          padding:0.2rem;
          text-align: center;
          font-size: 1rem;
          & img{
            width: 50px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .two{
    padding:70px;
    & h2{
      padding-top:3rem;
      font-size: 3rem;
      line-height: 3.8rem;
    }
    &__block{
      flex-direction: row;
      &-info{
        padding: 1rem 1rem 1rem 5rem;
        min-width: 66%;
      }
    }
    &__wrap2{
      flex-direction: row;
      &-left{
        width:49%;
      }
      &-right{
        width:49%;
        &-block{
          & div{
            width:20%;
          }
        }
      }
    }

  }
}
/*** / two ***/

//*** tree ***//
.tree{
  background: url("//hikornienko.github.io/finaly/img/rectangle_22.png") no-repeat center;
  background-size: cover;
  padding:50px 0;
  color:#fff;
  text-align: center;
  & h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    margin: 5rem 0 2rem;
    & span{
      color:#5a5aff;
    }
  }
  &__text{
    & span{
      color:#5a5aff;
    }
  }
  &__block{
    text-align: center;
    padding-top:50px;
    & p{
      background: #fff;
      border-radius: 1rem;
      color:#000;
      margin:1rem;
      padding:1rem;
      //min-height:100px;
    }
    & span{
      font-size: 4rem;
      font-weight: 600;
    }
    &-two{
      text-align: center;
      padding-top:50px;
      display: flex;
      align-items: center;
      & p{
        background: #fff;
        border-radius: 1rem;
        color:#000;
        margin:1rem;
        padding:1rem;
      }
      & span{
        font-size: 4rem;
        font-weight: 600;
      }
    }
  }
  & form{
    margin-top:5rem;
    padding:1rem;
    border:1px solid #5a5aff;
    & input{
      width: 100%;
      padding:1rem;
      border:1px solid #5a5aff;
      outline: 0;
      margin:0.5rem 0;
    }
    & input[type="button"]{
      background: #5a5aff;
      color:#fff;
      &:hover{
        background: #3232f8;
        border:1px solid #3232f8;
      }
    }
  }
}
@media all and (min-width: 1024px) {
  .tree{
    & h2{
      font-size: 3rem;
      line-height: 3.8rem;
      text-align: center;
    }
    &__block{
      &-two{
        & p{
          min-height:100px;
        }
      }
    }
  }
}
//*** / tree ***//

//*** four ***//
.four{
  padding:70px 0 0;
  & h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    margin: 5rem 0 2rem;
    text-align: center;
    & span{
      color:#5a5aff;
      font-size: 1rem;
      display: block;
    }
  }
  & .carousel-item{
    width:25%;
    & div{
      background: #000;
      padding:50px;
    }
  }
  & .owl-item{
    padding:1rem;
  }
  & .nav-item .active{
    background:#5a5aff!important;
  }
  &__coffe{
    background: #fff;
    border-radius: 1rem!important;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:2rem 0;
    & img{
      width:100%!important;
    }
    & p{
      color:#000;
    }
  }
  &__block{
    margin-top: 30px;
    background: #fff;
    border-radius: 2rem;
    padding:1rem 1.5rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    &-title{
      color:#7e8fa5;
      font-size: 2rem;
      padding: 1.2rem 0;
    }
    &-left{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div{
        width:50%;
        padding:0.2rem;
        &:nth-child(even){
          font-weight: 600;
        }
      }
    }
    &-right{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div{
        width:50%;
        padding:0.2rem;
        &:nth-child(even){
          font-weight: 600;
        }
      }
    }

  }
}
@media all and (min-width: 1024px) {
  .four{
    & h2{
      font-size: 3rem;
      line-height: 3.8rem;
      text-align: center;
    }
  }
}
//*** / four ***//

//*** footer ***//
.footer{
  padding-bottom:100px;
  background: #fff;
  & h2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    margin-top: 5rem;
    padding:2rem 0;
    text-align: center;
  }
  &__block{
    margin-top: 30px;
    background: #fff;
    border-radius: 2rem;
    padding:1rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    width:100%;
  }
  &__text{
    padding:2rem;
    text-align: center;
  }
  &__map{
    width:100%;
    height: 100%;
  }
  & form{
    margin-top:2rem;
    padding:1rem;
    border:1px solid #5a5aff;
    & input{
      width: 100%;
      padding:1rem;
      border:1px solid #5a5aff;
      outline: 0;
      margin:0.5rem 0;
    }
    & input[type="button"]{
      background: #5a5aff;
      color:#fff;
      &:hover{
        background: #3232f8;
        border:1px solid #3232f8;
      }
    }
  }

}
@media all and (min-width: 1024px) {
  .footer{
    & h2{
      font-size: 3rem;
      line-height: 3.8rem;
      text-align: center;
    }
    & form{
        margin-top:0;
    }
  }
}
//*** / footer ***//

//*** ***//
.owl-item{
  padding:1rem;
}

.owl-prev,.owl-next{
  padding:1rem;
  background: #fff!important;
  font-size:20px;
}
.owl-next{
  float: right;
}
//*** / **//
