.one{
  padding: 50px 0;
  position: relative;
  z-index: 2;
  & p{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 3;
  }
  &:before{
    @include circle;
    left:0.5rem;
    bottom:1rem;
  }
  &:after{
    @include circle;
    right:0.5rem;
    bottom:3rem;
  }
}
@media (min-width: 1024px) {
  .one{
    &__bg{
      position: relative;
      width: 100%;
      & img{
        width:60%;
        position: absolute;
        top:0;
        right:-20%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
    // background: url('/img/bg2.png') no-repeat;
    // background-position: right;
    // background-size: 40%;
    & p{
      font-size: 36px;
      line-height: 150%;
      text-align: justify;
    }
    &__img{
        position: absolute;
        z-index: 4;
        bottom:-200px;
        left:-120px;
        -moz-transform:none!important;
        -o-transform: none!important;
        -webkit-transform: none!important;
        transform: none!important;
    }
  }
}
