.three{
  padding: 20px 0;
  position: relative;
  & p{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 3;
  }
  &:before{
    @include circle;
    top:2rem;
    left:35%;
  }
  &:after{
    @include circle;
    right:6rem;
    bottom:3rem;
  }
}
@media (min-width: 1024px) {
  .three{
    &__bg{
      position: relative;
      width: 100%;
      & img{
        width:60%;
        position: absolute;
        left:-20%;
      }
    }
    margin-top: 100px;
    & h2{
      text-align: right;
    }
    & p{
      font-size: 36px;
      line-height: 150%;
      text-align: justify;
    }
    &__img{
      position: absolute;
      top: 0;
      left: -10%!important;
      width:100%;
    }
  }
}
