.two{
  &__layer{
    & img{
      width:100%;
      padding: 0.5rem 0;
    }
  }
}
@media (min-width: 1200px) {
  .two{
    margin-left: -110px;
    margin-right: -110px;
  }
}
@media (min-width: 1600px) {
  .two{
    margin-left: -150px;
    margin-right: -150px;
  }
}
