.s-promo-v0 {
  background-color: white;
  background-image: linear-gradient(
    to bottom,
    rgb(231, 236, 241),
    rgb(255, 255, 255)
  );
}

.s-promo-v0 > .slot {
  /* common */
  width: 100%;
  max-width: 1216px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  /* common */
}

.s-promo-v0 > .slot > .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.s-promo-v0 > .slot > .header > .brand {
  /**/
}

.s-promo-v0 > .slot > .header > .brand > img {
  display: block;
  width: 100%;
  max-width: 128px;
}

.s-promo-v0 > .slot > .header > .slogan {
  flex: 1;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-align: right;
}

.s-promo-v0 > .slot > .body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

.s-promo-v0 > .slot > .body > .content {
  width: 100%;
  flex: 1;
}

.s-promo-v0 > .slot > .body > .image {
  width: 645px;
}

.s-promo-v0 > .slot > .body > .image > img {
  width: 100%;
  max-width: 645px;
}

.s-promo-v0 > .slot > .body > .content > .text-group {
  margin-bottom: 32px;
}

.s-promo-v0 > .slot > .body > .content > .text-group > .label {
  margin-bottom: 32px;
  font-size: 16px;
  letter-spacing: .8px;
  text-transform: uppercase;
  font-weight: 600;
}

.s-promo-v0 > .slot > .body > .content > .text-group > .label > span {
  display: inline-block;
  padding: 8px 12px 6px;
  border-radius: 4px;
  color: #e7ecf1;
  background-color: black;
}

.s-promo-v0 > .slot > .body > .content > .text-group > .title {
  margin-bottom: 48px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
}

.s-promo-v0 > .slot > .body > .content > .text-group > .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.s-promo-v0 > .slot > .body > .content > .button {
  /**/
}

.s-promo-v0 > .slot > .body > .content > .button > button,
.s-promo-v0 > .slot > .body > .content > .button > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 56px;
  line-height: 56px;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  padding-right: 32px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: .4px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 24px 48px 0px rgba(254, 7, 122, .48);
  cursor: pointer;
  color: white;
  background-color: #ff067a;
  transition: all .3s;
}

.s-promo-v0 > .slot > .body > .content > .button > button > span,
.s-promo-v0 > .slot > .body > .content > .button > a > span {
  position: relative;
  z-index: 1;
}

.s-promo-v0 > .slot > .body > .content > .button > button:before,
.s-promo-v0 > .slot > .body > .content > .button > a:before {
  opacity: 0;
  position: absolute;
  z-index: 0;
  display: block;
  content: '';
  width: 320px;
  height: 320px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-320px) translateY(0);
  background-color: #0088cc;
  transition: all .3s;
}

.s-promo-v0 > .slot > .body > .content > .button > button:hover,
.s-promo-v0 > .slot > .body > .content > .button > a:hover {
  box-shadow: 0px 0 48px 0px rgba(0, 136, 204, .48);
}

.s-promo-v0 > .slot > .body > .content > .button > button:hover:before,
.s-promo-v0 > .slot > .body > .content > .button > a:hover:before {
  opacity: 1;
  transform: translateX(-32px) translateY(-130px);
}

@media (max-width: 1216px) {

  .s-promo-v0 > .slot > .body > .image {
    width: 50%;
  }

}

@media (max-width: 960px) {

  .s-promo-v0 > .slot > .header {
    padding-top: 32px;
    padding-bottom: 0;
  }
  .s-promo-v0 > .slot > .body {
    padding-top: 32px;
  }
  .s-promo-v0 > .slot > .body > .content > .text-group > .title {
    margin-bottom: 16px;
  }
  .s-promo-v0 > .slot > .body > .content > .text-group > .label {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .s-promo-v0 > .slot > .body > .content > .text-group > .title {
    font-size: 24px;
  }

}

@media (max-width: 800px) {

  .s-promo-v0 > .slot > .header > .slogan {
    /**/
  }
  .s-promo-v0 > .slot > .body {
    position: relative;
  }
  .s-promo-v0 > .slot > .body > .image {
    display: none;
  }
  .s-promo-v0 > .slot > .body > .content {
    position: relative;
    z-index: 2;
  }

}

@media (max-width: 480px) {

  .s-promo-v0 > .slot > .header > .brand > img {
    max-width: 96px;
  }
  .s-promo-v0 > .slot > .header > .slogan {
    padding-left: 16px;
    font-size: 11px;
    letter-spacing: normal;
  }
  .s-promo-v0 > .slot > .body > .content > .text-group > .label {
    font-size: 11px;
    letter-spacing: normal;
  }
  .s-promo-v0 > .slot > .body > .content > .text-group > .label > span {
    padding: 8px;
  }
  .s-promo-v0 > .slot > .body > .content > .text-group > .title {
    font-size: 18px;
    text-transform: none;
    font-weight: 600;
  }
  .s-promo-v0 > .slot > .body > .content > .text-group > .description {
    font-size: 15px;
  }

}

@media (max-width: 360px) {

  .s-promo-v0 > .slot > .body > .content > .button > button,
  .s-promo-v0 > .slot > .body > .content > .button > a {
    width: 100%;
    letter-spacing: normal;
  }

}
