¸

/*
Trade Gothic Next LT Pro Bold
font-family: trade-gothic-next, sans-serif;

Trade Gothic Next LT Pro Bold Italic
font-family: trade-gothic-next, sans-serif;

Trade Gothic Next LT Pro Italic
font-family: trade-gothic-next, sans-serif;

Trade Gothic Next LT Pro Regular
font-family: trade-gothic-next, sans-serif;

Trade Gothic Next SR Pro Bold
font-family: tgn-soft-round, sans-serif;

Trade Gothic Next SR Pro Regular
font-family: tgn-soft-round, sans-serif;

Trade Gothic Next LT Pro Bold Compressed
font-family: trade-gothic-next-compressed, sans-serif;

Trade Gothic Next LT Pro Compressed
font-family: trade-gothic-next-compressed, sans-serif;

Trade Gothic Next SR Pro Bold Compressed
font-family: tgn-soft-round-comp, sans-serif;

Trade Gothic Next SR Pro Compressed
font-family: tgn-soft-round-comp, sans-serif;

Trade Gothic Next LT Pro Bold Condensed
font-family: trade-gothic-next-condensed, sans-serif;

Trade Gothic Next LT Pro Bold Condensed Italic
font-family: trade-gothic-next-condensed, sans-serif;

Trade Gothic Next LT Pro Condensed
font-family: trade-gothic-next-condensed, sans-serif;

Trade Gothic Next LT Pro Condensed Italic
font-family: trade-gothic-next-condensed, sans-serif;

Trade Gothic Next SR Pro Bold Condensed
font-family: tgn-soft-round-con, sans-serif;



Trade Gothic Next SR Pro Condensed
font-family: tgn-soft-round-con, sans-serif;

/*
/*-----------------------------------
         Luminate Overrides
------------------------------------*/
*, searchBlock html,
body,
form,
input,
input.AddressBookButtons,
input.Advocacy,
input.btn,
input.btnLg,
input.btnMed,
input.btnMini,
input.btnSm,
select,
select.Advocacy,
textarea,
legend,
ul,
ol,
li,
option,
table,
tr,
th,
th.rfl_infoStatus,
td,
td.AlertListDescription,
td.cstmBack,
p,
p.cstmBtnText,
p.cstmFrame,
p.cstmHeading,
p.cstmText,
p.cstmTitle,
p.dividerHeading,
p.scrollingText,
span.cstmHeading,
a,
a.btn,
a.btn:visited,
a.cstmBtnText:hover,
a.cstmBtnText:link,
a.cstmBtnText:visited,
#navList,
.AdvocacyInstructions,
.AdvocacyNSFix,
.BlogHeader,
.Button,
.Divider,
.FieldLabels,
.FormBox,
.FormBox06,
.FormBoxHeader,
.Hint,
.Instructions,
.Instructions,
.ListItem0,
.ListItem1,
.NetscapeFix,
.NoteText,
.ObjTitle,
.PhotoLinks,
.Premiums,
.ProgressBox,
.ProgressBoxCurrent,
.SectionHead,
.SmallButton,
.Smaller,
.SmallerC,
.TribBtnText1,
.Upgrades,
.WhatNext,
.alphacube_content,
.dialog_content,
.dialog_title,
.Explicit,
.fr_register_another,
.paraBlueSansSmall,
.smallBlack,
.smallSans,
.smallSansBold,
.smallWhiteBoldSans,
.smallWhiteSans,
.smallestBlackSans {
  font-family: "trade-gothic-next-condensed", sans-serif;
}

LABEL,
label {
  white-space: normal !important;
}

a.btn,
a.btn:visited,
a.editBtn,
a.editBtn:visited,
input.btn,
input.btnMini,
input.btnSm,
input.btnMed,
input.btnLg {}

/*-----------------------------------
         Bootstrap Overrides
------------------------------------*/
.container-fluid {
  padding: 0;
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal {
  top: -2px;
  left: -2px;
  width: 100.5%;
  height: 101%;
}

.modal-header {
  border-radius: 0 !important;
  border: none !important;
}

.modal-header .close {
  padding-right: 15px;
}

.modal-full .modal-content {
  min-height: 100.5vh;
}

.modal-content {
  width: 100.5%;
}

hr {
  margin-left: 0;
  width: 100%;
  border-top: 1px solid #eee;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*-----------------------------------
         Global Styles
------------------------------------*/
body,
html {
  font-family: trade-gothic-next, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

a,
a:hover,
a:active {
  color: inherit;
}

a {
  text-decoration: none !important;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none !important;
}

h1 a:hover,
h3 a:hover {
  color: #007fa3;
}

h2 a:hover {
  color: #24355a;
}

p {
  font-family: trade-gothic-next, sans-serif;
  font-size: 20px;
  color: #25355a;
  line-height: 1.35;
}

.Hyperlink:hover {
  text-decoration: none;
}

.Bold {
  font-family: "trade-gothic-next-condensed", sans-serif;
  font-weight: 700;
}

.Highlight {
  font-family: "trade-gothic-next-condensed", sans-serif;
  font-size: 26px;
  color: #25355a;
  line-height: 1.4;
  margin: 80px auto;
  max-width: 800px;
}

.text-true {
  color: #25355a !important;
}

.text-blue {
  color: #007fa3 !important;
}

h1 {
  font-family: "trade-gothic-next-condensed", sans-serif;
  font-size: 48px;
  color: #24355a;
  letter-spacing: -0.5px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-family: "trade-gothic-next-condensed", sans-serif;
  font-size: 36px;
  line-height: 1.1;
  color: #007fa3;
  letter-spacing: -0.5px;
  font-weight: 700;
}

h3 {
  font-family: "trade-gothic-next-condensed", sans-serif;
  font-size: 26px;
  line-height: 1.1;
  color: #24355a;
  letter-spacing: -0.5px;
  font-weight: 700;
}

h4 {
  font-family: "trade-gothic-next-condensed", sans-serif;
  font-size: 20px;
  line-height: 1.1;
  color: #24355a;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.padd125 {
  padding-top: 125px;
  padding-bottom: 125px;
}

.padd75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.padd50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padd25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.BG__trueblue {
  background: #24355a;
}

.BG__boundless {
  background: #007fa3;
}

.BG__blue {
  background: #e2eaed;
}

.btn {
  border-radius: 0 !important;
  padding: 6px 45px 6px 35px !important;
  font-size: 18px !important;
  font-family: "trade-gothic-next-condensed", sans-serif !important;
  font-weight: 700;
}

.btn-primary {
  background: white !important;
  color: #24355a !important;
  position: relative !important;
  border: 2px solid #24355a !important;
}

.btn-primary:hover {
  background: #24355a !important;
  color: #ffffff !important;
  border: 2px solid #24355a !important;
}

.btn-primary:before {
  display: inline-block !important;
  font-style: normal !important;
  font-variant: normal !important;
  text-rendering: auto !important;
  -webkit-font-smoothing: antialiased !important;
  content: "\f054" !important;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  text-decoration: inherit !important;
  color: #24355a !important;
  vertical-align: middle !important;
  position: absolute !important;
  right: 25px !important;
  font-size: 10px !important;
  margin-top: 7px !important;
  transition: all 0.3s ease-in !important;
}

.btn-primary:hover:before {
  color: #fff !important;
  right: 20px !important;
}

.btn-inline {
  padding: 3px 22px 3px 22px !important;
  background: #24355a !important;
  color: #ffffff !important;
  border: 2px solid #24355a !important;
}

.btn-inline:hover {
  background: white !important;
  color: #24355a !important;
  position: relative !important;
  border: 2px solid #24355a !important;
}

.btn-toggle .btn.active {
  padding: 5px 22px 3px 22px !important;
  background: #24355a !important;
  color: #ffffff !important;
  border: 2px solid #24355a !important;
}

.btn-toggle .btn {
  border: 2px solid #24355a !important;
  background: white !important;
  color: #24355a !important;
}

.Shake {
  border: 1px solid red;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Error__msg {
  color: red;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free" !important;
}

/*-----------------------------------
          Header Styles
------------------------------------*/
.Header {
  padding: 17px 0;
}

/*-----------------------------------
          Hero Styles
------------------------------------*/
.Hero {
  background: url("https://boundless.utoronto.ca/assets/transition/images/bg1.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  margin-bottom: 200px;
  position: relative;
}

.Hero__content {
  bottom: -125px;
  width: 75%;
  left: 0;
  right: 0;
  padding: 50px 10%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #24355a;
  position: absolute;
  font-family: 'Next LT Pro Regular', Arial;
  font-size: 32px;
  line-height: 1.2;
}

/*-----------------------------------
          Homepage Giving
------------------------------------*/
.Giving__options {
  background: #e2eaed;
  position: relative;
  border-left: 10px solid white;
  border-right: 10px solid white;
  box-shadow: 0px 15px 0px -10px #24355a;
}

.Giving__options:hover {
  background: #24355a;
  color: white;
  box-shadow: 0px 15px 0px -10px #007fa3;
}

.Giving__options:hover h3 {
  color: white;
}

.Giving__options a {
  display: block;
  padding: 75px 15px 30px 15px;
  width: 100%;
  height: 100%;
}

.Giving__options h3 {
  text-align: center;
}

.Giving__options .fa {
  font-size: 16px;
}

.Giving__options--image {
  background: white;
  border-radius: 50%;
  border: 3px solid #e8eaec;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.Giving__options--image img {
  width: 60%;
  padding-top: 20px;
  vertical-align: middle;
}

.Giving__options:hover .Giving__options--image {
  border: 3px solid #007fa3;
}

.Giving__options--link {
  display: block;
}

/*-----------------------------------
        		Slider Styles
------------------------------------*/
.Moments {
  background: #e2eaed;
  padding: 50px 100px;
}

.Moments .row {
  background: white;
}

.Moments h5 {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: #24355a 1px solid;
}

.Moments h1,
.Moments h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.15;
  margin-bottom: 20px;
  font-family: trade-gothic-next, sans-serif;
}

.Moments h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.Moments__content--padd {
  padding: 10px 20px;
}

.Moments .carousel-indicators {
  left: auto !important;
  right: 0 !important;
  bottom: -50px;
  margin-right: 0 !important;
}

.Moments .carousel-control-prev {}

/*-----------------------------------
        Search Modal Styles
------------------------------------*/
.modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
}

.Header__logo--modal {
  position: absolute;
  top: 15px;
  left: 30px;
}

.Search__global--input {
  width: 100%;
}

.Search__global--results ul:empty,
.Search__global--results ul:blank,
.Search__global--results ul li:empty,
.Search__global--results ul li:blank {
  display: none;
}

.Search__global--results ul {
  display: none;
  padding-left: 0;
  border: 1px solid #eee;
  padding: 10px;
  margin-top: -15px;
}

.Search__global--results ul li {
  list-style-type: none;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

/*-----------------------------------
        Landing Page Globals
------------------------------------*/
.Jumbotron {
  background: #e7eff9;
  padding: 50px 0;
  border-bottom: 4px solid #007fa3;
}

.Jumbotron h1 {
  margin-bottom: 25px;
}

.DB {
  margin-top: 50px;
  margin-bottom: 50px;
}

.DB__filter {
  margin-bottom: 70px;
}

.DB__list {
  padding-left: 0;
}

.DB__list li {
  list-style-type: none;
}

.DB__list p {
  margin: 20px 0 30px 0;
}

.DB__list hr {
  margin-top: 45px;
  margin-bottom: 45px;
}

/*-----------------------------------
        Gift Array Styles
------------------------------------*/
.Giving__now--input {
  width: 40%;
}

.Gift__array .btn-primary {
  width: 100%;
}

.Giving__now--input {}

.Gift__array--amount {
  width: 100% !important;
  border-radius: 5px !important;
  border: #24355a 1px solid !important;
  margin-bottom: 30px !important;
  background: white !important;
  color: #24355a !important;
}

.Gift__array--amount:hover {
  background: #24355a !important;
  color: white !important;
}

.Gift__array--selected {
  background: #24355a !important;
  color: white !important;
}

/*-----------------------------------
      Donation Modal Styles
------------------------------------*/
.Donate__form--menu {
  display: table;
  width: 100%;
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 60px;
}

.Donate__form--menu li {
  display: table-cell;
  list-style: none;
}

.Donate__form--menu li a {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
}

.Donate__form--sidebar {
  background: #eee;
}

.Donate__form--inlineEdit .fas {
  font-size: 11px;
  vertical-align: text-top;
}

.Donate__form--fundRow {
  font-size: 14px;
}

.Review__label {
  font-weight: bold;
  font-size: 22px;
}

/*-----------------------------------
          Header1 Styles
------------------------------------*/
.header1 {
  padding: 50px 0 70px;
}

.header1 h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header1 p {
  margin: 0 auto;
  max-width: 600px;
  font-weight: 300;
}

.header1__bg {
  background: url("https://boundless.utoronto.ca/assets/transition/images/bg1.jpg") no-repeat center center;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 50px;
}

/*-----------------------------------
          postTop Styles
------------------------------------*/
.posttop {
  padding: 50px 0 20px;
  background: #e8eff9;
}

.posttop__block {
  margin: 50px 0;
}

.posttop__block-con {
  margin-bottom: 50px;
}

.posttop__line {
  border-bottom: 1px solid #24365e;
}

.posttop__block-con h2 {
  color: #24365e;
  display: inline-flex;
  align-items: center;
}

.posttop__block-con i {
  font-size: 20px;
  margin-left: 16px;
  padding-top: 10px;
}

.posttop__block-con p {
  font-weight: 300;
}

.posttop__block-con-link {
  color: #007fa3;
  text-decoration: underline !important;
  font-size: 20px;
  font-weight: 300 !important;
  font-family: "trade-gothic-next", sans-serif;
  padding-bottom: 10px;
}

.posttop__btn {
  display: inline-block;
  background: #047ea3;
  border: 2px solid #c1c6cc;
  color: #fff;
  padding: 10px 50px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 50px;
  transition: 0.3s;
}

.posttop__btn:hover {
  color: #fff;
  background: #24355a;
  border: 2px solid #24355a;
}

/*-----------------------------------
          postStyles
------------------------------------*/
.post {
  padding: 50px 0 20px;
}

.post__block {
  margin: 50px 0;
}

.post__line {
  border-bottom: 1px solid #bac3ca;
}

.post__block-con {
  margin-bottom: 50px;
}

.post__block-con h2 {
  color: #444f6b;
  display: inline-flex;
  align-items: center;
}

.post__block-con i {
  font-size: 20px;
  margin-left: 16px;
  padding-top: 10px;
}

.post__block-con p {
  font-weight: 300;
}

.post__block-con-link {
  color: #007fa3;
  text-decoration: underline !important;
  font-size: 20px;
  font-weight: 300 !important;
  font-family: "trade-gothic-next", sans-serif;
  padding-bottom: 10px;
}

.post__btn {
  display: inline-block;
  background: #fff;
  border: 2px solid #253451;
  color: #253451;
  padding: 10px 50px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 50px;
  transition: 0.3s;
}

.post__btn:hover {
  color: #fff;
  background: #24355a;
  border: 2px solid #24355a;
}

/*-----------------------------------
          postNext Styles
------------------------------------*/
.postnext {
  text-align: center;
}

.postnext a {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  color: #24365e;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.postnext i {
  font-size: 20px;
  margin-left: 16px;
  padding-top: 10px;
}

/*-----------------------------------
          Header2 Styles
------------------------------------*/
.header2 {
  background: #e8eff9;
  padding: 50px 0;
  border-bottom: 4px solid #007fa2;
}

.header2 h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.header2 p {
  margin: 0 auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 300;
}

/*-----------------------------------
          SearchInput Styles
------------------------------------*/
.searchBlock {
  margin-top: 100px;
}

.searchBlock__left {
  background: #e2eaed;
  padding: 20px;
  min-height: 120px;
}

.searchBlock__left p {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.searchBlock__left input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #929292;
  outline: 0;
  font-weight: 300;
  font-family: "trade-gothic-next", sans-serif;
}

.searchBlock__left input::placeholder {
  font-weight: 300;
  font-family: "trade-gothic-next", sans-serif;
  color: #929292;
}

.searchBlock__right-item {
  background: #e2eaed;
  padding: 20px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #7083a1;
  position: relative;
}

.searchBlock__right-item div {
  background: white;
  border-radius: 50%;
  border: 2px solid #e8eaec;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.searchBlock__right-item img {
  width: 60%;
}

.searchBlock__right-item span {
  color: #26314f;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.searchBlock__right .active {
  background: #007fa2;
}

.searchBlock__right .active:before {
  content: '';
  position: absolute;
  top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #007fa2;
}

.searchBlock__right .active div {
  border: 2px solid #007fa2;
}

.searchBlock__right .active span {
  color: #fff;
}

.sticky-top {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .sticky-top {
    position: sticky;
    max-height: 140px;
    margin-bottom: 300px;
  }

  .searchPostWrap {
    margin-top: -300px;
  }

  .searchBlock__height {
    max-height: 140px;
  }

  .searchBlock__left input {
    width: 95%;
  }

  .searchBlock__right .active div {
    display: flex;
  }

  .searchBlock__right .active:before {
    border: 0;
    top: auto;
    content: '';
    position: absolute;
    left: -30px;
    border: 15px solid transparent;
    border-right: 15px solid #007fa2;
  }

  .searchBlock__right .active span {
    padding-top: 30px;
  }
}

/*-----------------------------------
          SearchPost Styles
------------------------------------*/
.searchPost {
  padding: 50px 0 20px;
  border-bottom: 1px solid #bac3ca;
}

.searchPostLast {
  border-bottom: 0;
}

.searchPost h2 {
  color: #444f6b;
  display: inline-flex;
  align-items: center;
  padding-bottom: 10px;
}

.searchPost i {
  font-size: 20px;
  margin-left: 16px;
  padding-top: 10px;
}

.searchPost p {
  font-weight: 300;
}

.searchPost__btn {
  display: inline-block;
  background: #fff;
  border: 2px solid #253451;
  color: #253451;
  padding: 20px 50px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 50px;
  transition: 0.3s;
  text-align: center;
}

.searchPost__btn:hover {
  color: #fff;
  background: #24355a;
  border: 2px solid #24355a;
}

@media only screen and (min-width: 1024px) {}

/*-----------------------------------
          Footer Styles
------------------------------------*/
.Contact {
  margin-top: 50px;
  padding-top: 75px;
  border-top: 1px solid #24355a;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.Contact h5 {
  font-size: 30px;
  font-weight: 300;
  color: #25355a;
  margin-bottom: 50px;
}

.Contact h2 {
  text-transform: uppercase;
  color: #233758;
  font-weight: 600;
  font-size: 40px;
}

.Contact span {
  display: block;
  font-weight: 300;
  font-size: 18px;
}

.Footer {
  background: #24355a;
  color: white;
  padding: 70px 0;
}

.Footer a {
  color: white;
}

.Footer nav {
  margin-bottom: 30px;
}

.Footer nav ul {
  margin: 0;
  padding: 0;
}

.Footer nav ul li {
  list-style-type: none;
  display: block;
  padding-bottom: 5px;
}

.Footer nav ul li a {
  text-transform: uppercase;
  font-weight: 300 !important;
  font-family: "trade-gothic-next", sans-serif;
  font-size: 20px;
}

.Footer__line {
  padding: 10px 0;
  border-bottom: 1px solid white;
}

.Footer__social a {
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  background: white;
  border-radius: 50%;
  margin-left: 10px;
}

.Footer__social a:hover {
  background: #007fa3;
  color: #ffffff;
}

.Footer__social a:hover i {
  color: #ffffff;
}

.Footer__social i {
  color: #24355a;
}

.Footer__copyright {
  padding: 45px 0;
}

@media only screen and (max-width: 767px) {
  .Footer div {
    text-align: center !important;
  }
}

@media only screen and (min-width: 767px) {
  .Footer nav {
    margin-bottom: 0;
  }

  .Footer nav ul li {
    display: inline-block;
    padding-bottom: 0;
  }

  .Footer nav ul li a {
    margin-right: 20px;
  }
}
