@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap");
html {
  font-size: 13px; }

@media (min-width: 400px) {
  html {
    font-size: 15px; } }

@media (min-width: 900px) {
  html {
    font-size: 17px; } }

body {
  color: #464646;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background: #f0f4fa; }

/*** header ***/
.header {
  background: #fff;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  line-height: 1.7rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 9999;
  width: 100%; }
  .header .nav-link {
    color: #5a5aff !important;
    margin-right: 1rem; }
  .header .form-inline {
    color: #5a5aff !important;
    line-height: 3rem; }

/*** / header ***/
/*** one ***/
.one {
  background: #fff;
  padding: 100px 0;
  text-align: center; }
  .one h1 {
    font-weight: 600;
    font-size: 2rem; }
  .one__promo {
    font-style: italic;
    color: #868686;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding-bottom: 2rem; }
  .one__text {
    font-size: 1.3rem;
    line-height: 1.7rem; }
    .one__text span {
      color: #5a5aff; }
  .one__company {
    font-style: italic;
    color: #868686;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding-top: 3rem; }
  .one__img img {
    display: inline-block;
    width: 4rem;
    padding-right: 1rem; }
  .one button {
    color: #5a5aff;
    border-color: #5a5aff; }
    .one button:hover {
      background: #5a5aff; }

@media all and (min-width: 1024px) {
  .one {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    background: url("//hikornienko.github.io/finaly/img/coffemakes.png") no-repeat #fff;
    background-position: right;
    background-size: 40%; }
    .one h1 {
      font-size: 3rem; } }

/*** / one ***/
/*** two ***/
.two {
  padding: 70px 0;
  color: #3f5060; }
  .two h2 {
    text-align: center;
    color: #3f5060;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 2rem; }
  .two .nav-link {
    background: #fff;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .two #pills-tab .active {
    background: #5a5aff !important; }
  .two__item {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 370px; }
    .two__item img {
      padding-top: 2rem; }
    .two__item p {
      color: #000;
      font-size: 1.5rem;
      padding-top: 1rem; }
  .two__wrap {
    margin-top: 30px;
    background: #fff;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem; }
  .two__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee; }
    .two__block-last {
      color: #5a5aff;
      font-weight: 600;
      border-bottom: 0; }
    .two__block-title {
      padding: 0.5rem; }
    .two__block-info {
      font-size: 1rem;
      padding: 1rem;
      min-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .two__wrap2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .two__wrap2-left {
      margin-top: 30px;
      background: #fff;
      border-radius: 2rem;
      padding: 1rem;
      font-size: 1rem;
      line-height: 1.6rem; }
      .two__wrap2-left-title {
        color: #7e8fa5;
        font-size: 2rem;
        padding-bottom: 1rem; }
      .two__wrap2-left-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .two__wrap2-left-block div {
          width: 50%;
          padding: 0.2rem; }
          .two__wrap2-left-block div:nth-child(even) {
            font-size: 1rem;
            font-weight: 600; }
    .two__wrap2-right {
      margin-top: 30px;
      background: #fff;
      border-radius: 2rem;
      padding: 1rem;
      font-size: 1.2rem;
      line-height: 1.6rem; }
      .two__wrap2-right-title {
        color: #7e8fa5;
        font-size: 2rem;
        padding-bottom: 1rem; }
      .two__wrap2-right-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .two__wrap2-right-block div {
          width: 50%;
          padding: 0.2rem;
          text-align: center;
          font-size: 1rem; }
          .two__wrap2-right-block div img {
            width: 50px; }

@media all and (min-width: 1024px) {
  .two {
    padding: 70px; }
    .two h2 {
      padding-top: 3rem;
      font-size: 3rem;
      line-height: 3.8rem; }
    .two__block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .two__block-info {
        padding: 1rem 1rem 1rem 5rem;
        min-width: 66%; }
    .two__wrap2 {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .two__wrap2-left {
        width: 49%; }
      .two__wrap2-right {
        width: 49%; }
        .two__wrap2-right-block div {
          width: 20%; } }

/*** / two ***/
.tree {
  background: url("//hikornienko.github.io/finaly/img/rectangle_22.png") no-repeat center;
  background-size: cover;
  padding: 50px 0;
  color: #fff;
  text-align: center; }
  .tree h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    margin: 5rem 0 2rem; }
    .tree h2 span {
      color: #5a5aff; }
  .tree__text span {
    color: #5a5aff; }
  .tree__block {
    text-align: center;
    padding-top: 50px; }
    .tree__block p {
      background: #fff;
      border-radius: 1rem;
      color: #000;
      margin: 1rem;
      padding: 1rem; }
    .tree__block span {
      font-size: 4rem;
      font-weight: 600; }
  .tree form {
    margin-top: 5rem;
    padding: 1rem;
    border: 1px solid #5a5aff; }
    .tree form input {
      width: 100%;
      padding: 1rem;
      border: 1px solid #5a5aff;
      outline: 0;
      margin: 0.5rem 0; }
    .tree form input[type="button"] {
      background: #5a5aff;
      color: #fff; }
      .tree form input[type="button"]:hover {
        background: #3232f8;
        border: 1px solid #3232f8; }

@media all and (min-width: 1024px) {
  .tree h2 {
    font-size: 3rem;
    line-height: 3.8rem;
    text-align: center; } }

.four {
  padding: 70px 0 0; }
  .four h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    margin: 5rem 0 2rem;
    text-align: center; }
    .four h2 span {
      color: #5a5aff;
      font-size: 1rem;
      display: block; }
  .four .carousel-item {
    width: 25%; }
    .four .carousel-item div {
      background: #000;
      padding: 50px; }
  .four .owl-item {
    padding: 1rem; }
  .four .nav-item .active {
    background: #5a5aff !important; }
  .four__coffe {
    background: #fff;
    border-radius: 1rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 2rem 0; }
    .four__coffe img {
      width: 100% !important; }
    .four__coffe p {
      color: #000; }
  .four__block {
    margin-top: 30px;
    background: #fff;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.6rem; }
    .four__block-title {
      color: #7e8fa5;
      font-size: 2rem;
      padding: 1.2rem 0; }
    .four__block-left {
      font-size: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .four__block-left div {
        width: 50%;
        padding: 0.2rem; }
        .four__block-left div:nth-child(even) {
          font-size: 1rem;
          font-weight: 600; }
    .four__block-right {
      font-size: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .four__block-right div {
        width: 50%;
        padding: 0.2rem; }
        .four__block-right div:nth-child(even) {
          font-size: 1rem;
          font-weight: 600; }

@media all and (min-width: 1024px) {
  .four h2 {
    font-size: 3rem;
    line-height: 3.8rem;
    text-align: center; } }

.footer {
  padding-bottom: 100px;
  background: #fff; }
  .footer h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
    margin-top: 5rem;
    padding: 2rem 0;
    text-align: center; }
  .footer__block {
    margin-top: 30px;
    background: #fff;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: 100%; }
  .footer__text {
    padding: 2rem;
    text-align: center; }
  .footer__map {
    width: 100%;
    height: 100%; }
  .footer form {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #5a5aff; }
    .footer form input {
      width: 100%;
      padding: 1rem;
      border: 1px solid #5a5aff;
      outline: 0;
      margin: 0.5rem 0; }
    .footer form input[type="button"] {
      background: #5a5aff;
      color: #fff; }
      .footer form input[type="button"]:hover {
        background: #3232f8;
        border: 1px solid #3232f8; }

@media all and (min-width: 1024px) {
  .footer h2 {
    font-size: 3rem;
    line-height: 3.8rem;
    text-align: center; }
  .footer form {
    margin-top: 0; } }

.owl-item {
  padding: 1rem; }

.owl-prev, .owl-next {
  padding: 1rem;
  background: #fff !important;
  font-size: 20px; }

.owl-next {
  float: right; }
