/*** row ***/
.category{
  max-width: $page-width;
  padding: $page-padding;
  margin: 0 auto;
  position: relative;

  display:flex;
  flex-direction: column;
  &__sitebar{
    min-width: 240px;
    margin-right: 1.2rem;
    margin-bottom:1rem;
  }
  &__content{
   flex-grow: 1;
   padding-top: 0.3rem;
  }
}
@media (min-width:1024px) {
  .category{
    flex-direction: row;
    &__sitebar{

    }
    &__content{

    }
  }
}
/*** / row ***/

/*** nav ***/
.nav{
  padding:0;
  margin: 0;
  & li{
    list-style-type: none;
    padding:0.3rem 0;
    & a{
      color:#fff;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      &:hover{
        border-bottom: 2px solid $color-theme;
      }
    }
    & .active{
      border-bottom: 2px solid $color-theme;
    }
  }
}
/*** / nav ***/

/*** ads ***/
.ads{
  display: none;
  margin-top:3rem;
  width: 100%;
  height: 240px;
  background: #ccc;
}
@media (min-width:1024px) {
  .ads{
    display:block;
  }
}
/*** / ads ***/

/*** season ***/
.season{
  display:flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  &__item{
    border:1px solid $color-theme;
    border-radius: 4px;
    position: relative;

    margin: 0 5px 10px;
    width: calc(100%/2 - 12px);
    & img{
      display: block;
      width:94%;
      padding:3%;
      margin:0;
    }
    &--title{
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      display:flex;
      align-items: center;
      & span{
        margin:0 auto;
        color:$color-theme;
        background: #000;
        font-size: 1rem;
        line-height: 1.1rem;
        font-weight: 600;
        padding:0 0.5rem;
      }
    }
  }
}
@media (min-width:768px) {
  .season{
    margin: 0 -10px;
    &__item{
      margin: 0 10px 20px;
      width: calc(100%/4 - 22px);
    }
  }
}
@media (min-width:1024px) {
  .season{
    &__item{
      width: calc(100%/6 - 22px);
    }
  }
}
/*** / season ***/
