.header {
  max-width: $page-width;
  padding: $page-padding;
  margin: 0 auto;
  position: relative;

  &__back {
    position: absolute;
    top:2rem;
    & a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1rem;
      padding-left: 1.5rem;
      position: relative;
      font-weight: 300;
      &:before {
        content: '<';
        font-size: 15px;
        line-height: 1rem;
        font-weight: 100;
        -moz-transform: matrix(1.90865881044666,0,0,5.12771865904871,0,0);
        -webkit-transform: matrix(1.90865881044666,0,0,5.12771865904871,0,0);
        -ms-transform: matrix(1.90865881044666,0,0,5.12771865904871,0,0);
        position: absolute;
        left: 0;
      }
    }
  }

  &__logo {
    text-align: center;

    & img {
      max-width: 120px;
    }
  }
}

@media (min-width:1024px) {
  .header {
    &__back {
      left:3rem;
    }
    &__logo {
     & img {
        max-width: 160px;
      }
    }
  }
}
