html {
  font-size: $font-size;
}
@media (min-width: 400px) {
  html {
    font-size: $font-size-min-width-400;
  }
}
@media (min-width: 900px) {
  html {
    font-size: $font-size-min-width-900;
  }
}

body {
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: $font;
  background: url("../images/bg.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
