// main
$page-width: 1200px;
$page-padding: 1rem;
$font: 'Alegreya Sans SC', sans-serif;
$font-size: 13px;
$font-size-min-width-400: 15px;
$font-size-min-width-900: 17px;
$page-padding: 1rem;

$color-theme:#fee11e;
