@import 'normalize.scss';
@import 'bootstrap/bootstrap.scss';
@import 'font-awesome/fontawesome.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}
@media (min-width: 400px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 17px;
  }
}

body {
  color: #627077;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-family: 'Ubuntu', aria , sans-serif;
}
//=== header ===//
.header {
  background: url("img/home2.jpg") #ccc no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before{
    content: '';
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    background: #281f41;
    opacity: 0.8;
  }
  &__info {
    text-align: center;

    & h1 {
      font-size: 2.8rem;
      line-height: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;

      & span {
        color: #f5d085;
        display: block;
      }
    }

    & p {
      font-size: 1rem;
      color: #fff;
      line-height: 1.3rem;
      font-weight: 300;
    }

    & a {
      font-size: 1rem;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      border: 2px solid #fff;
      margin-top: 1rem;
      padding: 0 1rem 0 3rem;
      text-align: center;
      display: inline-block;
      line-height: 3rem;
      position:relative;
      & i{
        font-size:1.6rem;
        padding-right:1rem;
        position: absolute;
        left: 1rem;
        top:5px;
        animation: down  1.2s infinite ease;
        @keyframes down {
          from {
            margin-top: 0;
          }
          10% {
              margin-top: 1px;
          }
          20% {
              margin-top: 2px;
          }
          30% {
              margin-top: 3px;
          }
          40% {
              margin-top: 4px;
          }
          50% {
              margin-top: 3px;
          }
          60% {
              margin-top: 2px;
          }
          to{
            margin-top: 0;
          }
        }

      }
    }
  }

  &__img {
    position: relative;
    &:before{
      content:'';
      position:absolute;
      z-index: 1;
      background: #68b7ff;
      min-width: 1px;
      min-height: 1px;
      box-shadow: 0px 0px 100px 150px rgba(104,183,255,1);
      z-index: 1;
      bottom:50%;
      right:50%;
    }
    & img {
      display: block;
      margin: 0 auto;
      position:relative;
      z-index: 2;
    }
  }
}
@media all and (min-width: 1024px) {
  .header {
    &__info {
      text-align: left;
    }
  }
}
//=== / header ===//

//=== one ===//
.one{
  padding:3rem 0;
  position:relative;
  z-index: 10;
  &__title{
    text-align: center;
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 700;
    color:#252f34;
    text-transform: uppercase;
    margin: 5rem 0 2rem 0;
    & span{
      display:inline-block;
      color:#f5d085;
    }
  }
  &__block{
    text-align: center;
    padding:2rem;
    &-icon{
      //border:2px solid #f5d085;
      border-radius: 50%;
      width:80px;
      height:80px;
      margin:2rem auto;
      background: rgba(40, 31, 65, 0.5);;
      & i{
        color:#f5d085;
        line-height: 80px;
        font-size: 40px;
      }
    }
    &-title{
      font-size: 1.1rem;
      color:#252f34;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    &-text{
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
  &__video{
    text-align: center;
    margin:5rem 0;
    & iframe{
      width: 100%;
      max-width: 600px;
      height:350px;
    }
  }
  &__button{
    text-align: center;
    padding-bottom: 5rem;
    & a{
      font-size: 1rem;
      color: #702b86;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      border: 2px solid #702b86;
      margin-top: 1rem;
      padding: 0 2rem;
      text-align: center;
      line-height: 3rem;
      display: inline-block;
      position:relative;
    }
  }
}
//=== / one ===//

//=== footer ===//
.footer{
  background: url("img/footer.jpg") #ccc no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before{
    content: '';
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    background: #281f41;
    opacity: 0.8;
  }
  &__form{
    margin:0 auto;
    border:3px solid #fff;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.7);
    padding:3rem 0;
    text-align: center;
    &-title{
      font-size:1.6rem;
      font-weight: 700;
      line-height: 1.6rem;
      text-transform: uppercase;
      color:#252f34;
    }
    &-price{
      color:#3c4a51;
      font-weight: 300;
      font-size: 0.9rem;
      &-old{
        text-decoration: line-through;
      }
      &-new{
        color:red;
      }
    }
    & input{
      width: 100%;
      max-width: 276px;
      color:#3c4a51;
      padding:0 15px;
      background: #fff;
      border:0;
      outline:0;
      font-size:1rem;
      font-weight: 300;
      margin-bottom: 0.6rem;
      line-height: 2.8rem;
    }
    & input[type="button"]{
      background: #702b86;
      color:#fff;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 3.6rem;
      &:hover{
        background: #562068;
      }
    }
  }
}
//=== / footer ===//
