.s-about-v1 {
  background-color: white;
}

.s-about-v1 > .slot {
  /* common */
  width: 100%;
  max-width: 1216px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  /* common */
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  flex-direction: row;
}

.s-about-v1 > .slot > .content {
  width: 50%;
}

.s-about-v1 > .slot > .content > .text-group {
  margin-bottom: 32px;
}

.s-about-v1 > .slot > .content > .text-group > .title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
}

.s-about-v1 > .slot > .content > ul {
  margin: 0;
  padding: 0;
}

.s-about-v1 > .slot > .content > ul > li {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.s-about-v1 > .slot > .content > ul > li:after {
  position: absolute;
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 0;
  top: 10px;
  background-color: #44c0ed;
}

.s-about-v1 > .slot > .content > .button {
  padding-top: 32px;
  max-width: 280px;
}

.s-about-v1 > .slot > .content > .button > a {
  display: block;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 56px;
  line-height: 56px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: .4px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 24px 48px 0 #44944A48;
  cursor: pointer;
  color: white;
  background-color: #44944A;
  transition: all .3s;
}

.s-about-v1 > .slot > .content > .button > a:hover {
  box-shadow: 0 0 16px 0 #44944A48;
}

.s-about-v1 > .slot > .image {
  width: 50%;
}

.s-about-v1 > .slot > .image > .mobile {
  display: none;
}

.s-about-v1 > .slot > .image > .mobile > img {
  display: block;
  width: 100%;
  max-width: 608px;
}

.s-about-v1 > .slot > .image > .desktop {
  position: relative;
}

.s-about-v1 > .slot > .image > .desktop > img {
  display: block;
}

.s-about-v1 > .slot > .image > .desktop > img.back {
  position: absolute;
  left: 0;
  top: 0;
}

.s-about-v1 > .slot > .image > .desktop > img.laptop {
  position: absolute;
  left: 0;
  top: -160px;
  animation-name: s-about-v1-laptop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes s-about-v1-laptop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1216px) {

  .s-about-v1 > .slot {
    padding-left: 64px;
    padding-right: 64px;
  }
  .s-about-v1 > .slot > .image > .desktop {
    display: none;
  }
  .s-about-v1 > .slot > .image > .mobile {
    display: block;
  }

}

@media (max-width: 1024px) {

  .s-about-v1 > .slot {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 0;
    padding-bottom: 64px;
    flex-direction: column-reverse;
  }
  .s-about-v1 > .slot > .image {
    width: 100%;
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -64px;
  }
  .s-about-v1 > .slot > .content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
  }

}

@media (max-width: 480px) {

  .s-about-v1 > .slot > .image {
    margin-bottom: -32px;
  }
  .s-about-v1 > .slot > .content > .text-group {
    margin-bottom: 24px;
  }
  .s-about-v1 > .slot > .content > .text-group > .title {
    font-size: 32px;
  }

}
