.modal__exchange{
  position: relative;
  &--title{
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 16px;
    color: rgb(0, 0, 0);
    position: relative;
  }

  &--input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > input{
      text-align: right;
      color: rgb(157, 163, 184);
      width: 50px;
      font-size: 60px;
      outline: 0;
      border: 0;

      &::placeholder {
        color: rgb(157, 163, 184);
      }
    }

    & > span{
      display: flex;
      align-self: center;
      font-size: 28px;
      line-height: 36px;
      margin-left: 5px;
      margin-top: 15px;
      min-width: 60px;
      color: rgb(157, 163, 184);
      text-transform: uppercase;
    }

    &.active{
      & > input{
        color: var(--blue);

        &::placeholder {
          color: var(--blue);
        }
      }

      & > span{
        color: var(--blue);
      }
    }
  }

  &--nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & > li {
      list-style-type: none;
      background: rgb(255, 255, 255);
      box-shadow: rgba(0, 10, 62, 0.09) -2px 6px 16px;
      border-radius: 60px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      display: block;
      text-align: center;
      color: rgb(40, 40, 40);
      width: 92px;
      cursor: pointer;
      padding: 2px;
      margin: 20px 5px;
      text-transform: uppercase;

      &:hover{
        background: rgb(245, 245, 245);
        transition: all 0.2s linear 0s;
      }
    }
  }

  &--btn{
    width: 100%;
    font-weight: 500;
    text-align: center;
    position: relative;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    border-radius: 12px;
    font-size: 16px;
    line-height: 18px;
    min-height: 56px;
    min-width: 232px;
    padding: 18px;
    background: rgb(245, 245, 245);
    color: rgb(103, 103, 147);
    cursor: not-allowed;
    border: none;
    outline: rgb(245, 245, 245);
    pointer-events: none;

    &.active{
      background: rgb(46, 113, 240);
      color: rgb(255, 255, 255);
      border: 1px solid rgb(46, 113, 240);
      outline: rgb(46, 113, 240);
      pointer-events: auto;
      cursor: pointer;

      &:hover{
        background: rgb(62, 128, 255);
        outline: rgb(62, 128, 255);
        color: rgb(255, 255, 255);
        border: 1px solid rgb(62, 128, 255);
      }
    }
  }

  &--alert{
    font-size: 12px;
    color: rgb(253, 42, 71);
    display: inherit;
    text-align: center;

    & > span{
      text-transform: uppercase;
    }
  }

  &--buy{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px 0;
  }

  &--select{
    padding: 10px 0;

    & > span{
      pointer-events: none;
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: rgb(147, 169, 195);
      margin-bottom: 5px;
    }

    &--body{
      position: relative;
      background: rgb(255, 255, 255);
      border: 1px solid rgb(230, 234, 238);
      border-radius: 6px;
      height: 48px;
      align-items: center;
      display: flex;
      cursor: pointer;
      padding: 0 13px;
      transition: 0.3s;
      background-image: var(--img-trigle-right);
      background-repeat: no-repeat;
      background-position: calc(100% - 13px);

      &:hover{
        background-color: rgb(245, 245, 245);
      }

      & > img{
        width: 20px;
        height: 20px;
        margin-right: 15px;
        pointer-events: none;
      }

      & > span{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        pointer-events: none;
      }
    }
  }

  &--reverse{
    margin: 10px auto;
    cursor: pointer;
    display: block;
    transition: 0.3s;

    &:hover{
      opacity: 0.8;
    }
  }

  &--list{
    display: none;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;

    &.active{
      display: block;
    }

    &--header{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      & > span{
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 33px;
        color: rgb(0, 0, 0);
      }

      & > img{
        position: absolute;
        left: 0;
        cursor: pointer;
      }
    }

    & > ul{
      height: 100%;
      max-height: calc(100% - 60px);
      overflow-x: hidden;
      overflow-y: auto;

      & > li{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 12px;
        height: 68px;
        transition: all 0.2s linear 0s;
        cursor: pointer;

        &:hover{
          background: rgb(245, 245, 245);
        }

        & > img{
          height: 32px;
          width: 32px;
          margin: 0px 12px 0px 0px;
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 2px 1px 2px);
          pointer-events: none;
        }

        & > div{
          display: flex;
          flex-direction: column;
          pointer-events: none;

          & > strong{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: rgb(3, 3, 3);
            text-transform:uppercase;
          }

          & > span{
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: rgb(141, 147, 159);
          }
        }

        & > div:last-of-type{
          flex-grow: 1;
          align-items: flex-end;

          & > span{
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
