.wrapper{
  margin:50px auto;
  max-width:800px;
}

.gallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery__left,.gallery__right{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
  width:50%;
  min-height: 50px;
  align-self: stretch;
  cursor:pointer;
  font-size: 20px;
  font-weight: 600;
}
.gallery__left:hover,.gallery__right:hover{
  background-color: #ccc;
}
.gallery__photo{
  display:flex;
  width:100%;
  order: -1;
}
@media all and ( min-width: 1024px ) {
  .gallery__left,.gallery__right{
    width:10%;
  }
  .gallery__photo{
    width:80%;
    order: 0;
  }
}

.gallery__title,.gallery__number{
  text-align: center;
  padding:10px;
}
