@font-face {
  font-family: futura-pt;
  src: url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: futura-pt;
  src: url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/l?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/d?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/a?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: italic;
  font-weight: 700
}

@font-face {
  font-family: futura-pt;
  src: url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: futura-pt;
  src: url(https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/l?fvd=i4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/d?fvd=i4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/a?fvd=i4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: italic;
  font-weight: 400
}

@font-face {
  font-family: futura-pt-condensed;
  src: url(https://use.typekit.net/af/6f8764/000000000000000000012039/27/l?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/6f8764/000000000000000000012039/27/d?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/6f8764/000000000000000000012039/27/a?fvd=n4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: futura-pt-condensed;
  src: url(https://use.typekit.net/af/082b7c/00000000000000000001203a/27/l?fvd=i4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/082b7c/00000000000000000001203a/27/d?fvd=i4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/082b7c/00000000000000000001203a/27/a?fvd=i4&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: italic;
  font-weight: 400
}

@font-face {
  font-family: futura-pt-condensed;
  src: url(https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/64e0cf/00000000000000000001203d/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: futura-pt-condensed;
  src: url(https://use.typekit.net/af/e6a9c1/00000000000000000001203e/27/l?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/e6a9c1/00000000000000000001203e/27/d?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/e6a9c1/00000000000000000001203e/27/a?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: italic;
  font-weight: 700
}

@font-face {
  font-family: futura-pt-bold;
  src: url(https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/l?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/d?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/053fc9/00000000000000003b9af1e4/27/a?fvd=n7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: futura-pt-bold;
  src: url(https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/l?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"), url(https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/d?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"), url(https://use.typekit.net/af/72575c/00000000000000003b9af1e5/27/a?fvd=i7&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
  font-style: italic;
  font-weight: 700
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-gradient: linear-gradient(50deg, #171b21 0%, hsl(216, 17.9%, 14.3%) 100%);
  --primary-color: #7e33ee;
  --primary-gradient: linear-gradient(50deg, #7e33ee 0%, hsl(264.1, 84.6%, 90.7%) 100%);
  --link-color: #4a90e2;
  --error-color: #d0021b;
  --error-light-color: hsl(352.7, 98.1%, 53.5%);
  --button-color: #7e33ee;
  --button-text-color: #fff;
  --button-gradient: linear-gradient(50deg, #7e33ee 0%, hsl(264.1, 84.6%, 73.7%) 100%);
  --gray-light-color: hsl(0, 0%, 60.7%);
  --size-base: 16px;
  --size-tiny: 0.25em;
  --size-xxsmall: 0.5em;
  --size-xsmall: 0.75em;
  --size-small: 1em;
  --size-medium: 1.25em;
  --size-large: 1.5em;
  --size-xlarge: 1.75em;
  --size-xxlarge: 2em;
  --size-huge: 3em;
  --size-h1: 4em;
  --size-xhuge: 4.5em;
  --size-xxhuge: 5em;
}

body {
  line-height: 1
}

body, html {
  font-family: futura-pt;
  font-weight: 300;
  font-size: var(--size-base);
  line-height: 1;
  width: 100%;
  height: 100%;
}

@media (min-width: 460px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #12151b url('../img/bg.png') 100% 100% no-repeat;
  }
}

h1, h2, h3 {
  font-family: futura-pt-bold;
  font-weight: 700;
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
  transition: color .3s ease
}

a:hover {
  color: var(--link-color);
}

/*
* preloader
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: var(--dark-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preloader.load {
  display: none;
}

.preloader .text {
  margin-bottom: 1.4em;
  font-size: var(--size-xxlarge);
  color: var(--primary-color)
}

.preloader .dots span {
  width: 10px;
  height: 32px;
  display: inline-block;
  border-radius: 10px;
  background-color: var(--primary-color);
  animation: portis-dots-grow-shrink 1.5s ease-in-out infinite
}

.preloader .dots span:not(:last-child) {
  margin-right: .7em
}

.preloader .dots span:nth-child(2) {
  animation-delay: .375s
}

.preloader .dots span:nth-child(3) {
  animation-delay: .75s
}

@keyframes portis-dots-grow-shrink {
  0%, to {
    transform: scale(1);
    opacity: 1
  }

  50% {
    transform: scale(.3);
    opacity: 0
  }
}

/*
* preloader
*/
/*
* main
*/
@media (min-width: 460px) {
  main {
    width: 414px;
    height: 98%;
    max-height: 736px !important;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

/*
* main
*/
/*
* form
*/
.container {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.form {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%
}

.form__line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75em;
  background-color: #f8f8f9;
  min-height: 2.5em;
  font-size: var(--size-xsmall);
}

.form__line a {
  display: flex;
  align-items: center;
  color: #9b9b9b;
  text-decoration: none;
}

.form__line img {
  width: 8px;
  margin-left: .3em;
  margin-right: .25em;
}

.form__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}

.form h1 {
  font-size: var(--size-large);
  margin-top: var(--size-small);
}

.form__inner {
  position: relative;
  padding-top: 1.5em;
}

.input {
  margin-bottom: .8em;
  padding-bottom: 1.2em;
  position: relative;
}

.input label {
  display: block;
  margin-bottom: .5em;
  font-size: var(--size-medium);
}

.input__wrap {
  position: relative;
  resize: none;
}

.input__wrap--error input {
  border-color: var(--error-color) !important;
}

.input__wrap--error .input__error {
  display: block;
}

.input__error {
  display: none;
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: translateY(100%);
  color: var(--error-color);
}

.form input[type=date], .form input[type=email], .form input[type=number], .form input[type=password], .form input[type=tel], .form input[type=text], .form select, .portis-select:not(.is-tiny) input[type=date], .portis-select:not(.is-tiny) input[type=email], .portis-select:not(.is-tiny) input[type=number], .portis-select:not(.is-tiny) input[type=password], .portis-select:not(.is-tiny) input[type=tel], .portis-select:not(.is-tiny) input[type=text], .portis-select:not(.is-tiny) select {
  display: block;
  font-family: futura-pt;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 10px 1em;
  width: 100%;
  box-sizing: border-box;
  font-size: var(--size-small)
}

@media(max-height:840px) {
  .form input[type=date], .form input[type=email], .form input[type=number], .form input[type=password], .form input[type=tel], .form input[type=text], .form select, .portis-select:not(.is-tiny) input[type=date], .portis-select:not(.is-tiny) input[type=email], .portis-select:not(.is-tiny) input[type=number], .portis-select:not(.is-tiny) input[type=password], .portis-select:not(.is-tiny) input[type=tel], .portis-select:not(.is-tiny) input[type=text], .portis-select:not(.is-tiny) select {
    height: 50px;
    line-height: 30px
  }
}

.form input[type=date]:focus, .form input[type=email]:focus, .form input[type=number]:focus, .form input[type=password]:focus, .form input[type=tel]:focus, .form input[type=text]:focus, .form select:focus, .portis-select:not(.is-tiny) input[type=date]:focus, .portis-select:not(.is-tiny) input[type=email]:focus, .portis-select:not(.is-tiny) input[type=number]:focus, .portis-select:not(.is-tiny) input[type=password]:focus, .portis-select:not(.is-tiny) input[type=tel]:focus, .portis-select:not(.is-tiny) input[type=text]:focus, .portis-select:not(.is-tiny) select:focus {
  border-color: var(--link-color);
  outline: none;
  box-shadow: 0;
}

input, textarea, select {
  -webkit-appearance: none;
  outline-offset: 0;
}

:focus-visible {
  outline: none;
  box-shadow: 0;
}

.input_password{
  padding-right: 4em!important;
}

.form .forgot-password {
  position: absolute;
  top: .3em;
  right: 0;
}

.form .show-password {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, .5);
  width: 60px;
  height: 100%;
  cursor: pointer;
  transition: color .3s ease;
}

.form .show-password svg {
  overflow: visible;
  width: 1.125em;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}

.form .show-password:hover {
  color: #000
}

.form .show-password svg:last-child{
  display: none
}

.form .show-password.show-password-true svg:first-child{
  display: none;
}

.form .show-password.show-password-true svg:last-child{
  display: block;
}

.form .actions {
  text-align: center;
  margin-top: 0;
}

.form .actions button {
  display: flex;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  letter-spacing: .04em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: var(--size-small);
  min-height: 60px;
  padding: 0 4em;
  font-family: futura-pt-bold;
  color: var(--button-text-color);
  background: var(--button-gradient);
  transition: box-shadow .3s ease;
}

.form .actions button.is-disabled {
  opacity: .5;
  cursor: not-allowed;
}

.form .actions button:not(.is-disabled):not(.is-loading):hover:not(.link-button) {
  box-shadow: 0 3px 15px rgba(0, 0, 0, .3)
}

.form .actions button.is-disabled, .form .actions button.is-loading {
  opacity: .5;
  cursor: not-allowed
}

.form .actions button:focus:not(.with-focus) {
  outline: none
}

.form .actions button span.loading-state .btn-value {
  opacity: .1
}

.form .actions button span.loading-state .dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.form .actions button span.loading-state .dots .dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #fff;
  animation: portis-dots-grow-shrink 1.5s ease-in-out infinite
}

.form .actions button span.loading-state .dots .dot:not(:last-child) {
  margin-right: .7em
}

.form .actions button span.loading-state .dots .dot.dot2 {
  animation-delay: .375s
}

.form .actions button span.loading-state .dots .dot.dot3 {
  animation-delay: .75s
}

.form .actions a {
  margin-top: 1em;
  display: inline-block;
}

.form .error {
  color: var(--error-color);
  width: 100%;
  text-align: center;
  height: 16px;
}

.form .error span {
  display: none;
}

.form .error.show span {
  display: block;
}

.form .copyright {
  text-align: center;
  padding: 2em 0;
  width: 100%;
  color: rgba(0, 0, 0, .5);
  font-size: var(--size-xsmall);
}

.capcha {
  height: 81px;
}

textarea {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  resize: vertical;
  min-height: 70px;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  font-family: futura-pt;
  font-size: var(--size-small);
  transition: border .3s ease;
}

.contact {
  padding-bottom: var(--size-medium);
}

.contact svg {
  overflow: visible;
  width: 1em;
  margin-right: 1em;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}

.m_b {
  margin-bottom: 1.2rem;
}

.capcha_h {
  height: 48px;
}

.register__caution-message {
  color: var(--gray-light-color);
  text-align: center
}

.register__caution-message__title {
  color: var(--error-color)
}

.hide {
  display: none;
}
