.s-promo-v2 {
  position: relative;
  background-color: #ebf1f7;
}

.s-promo-v2:before {
  position: absolute;
  display: block;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('/img/header.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  opacity: 0.2;
}

.s-promo-v2 > .slot {
  /* common */
  width: 100%;
  max-width: 1216px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  /* common */
  position: relative;
  z-index: 3;
  padding-bottom: 64px;
}

.s-promo-v2 > .slot > .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.s-promo-v2 > .slot > .header > .brand {
  /**/
  display:flex;
  align-items: center;
}

.s-promo-v2 > .slot > .header > .brand > img {
  display: block;
  width: 53px;
  max-width: 128px;
  max-height: 53px;
}

.s-promo-v2 > .slot > .header > .slogan {
  flex: 1;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-align: right;
}

.s-promo-v2 > .slot > .body {
  /**/
}

.s-promo-v2 > .slot > .body > .text-group {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.s-promo-v2 > .slot > .body > .text-group > .date-label > strong {
  font-weight: inherit;
  color: #ff0606;
}

.s-promo-v2 > .slot > .body > .text-group > .label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.s-promo-v2 > .slot > .body > .text-group > .title {
  margin-bottom: 16px;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}

.s-promo-v2 > .slot > .body > .text-group > .description {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

.s-promo-v2 > .slot > .body > .text-group > .date-label {
  display: inline-block;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: black;
}

.s-promo-v2 > .slot > .body > .timer {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 500;
  color: #4e6478;
}

.s-promo-v2 > .slot > .body > .timer > .title {
  font-size: 16px;
  line-height: 1.2;
  text-transform: lowercase;
  font-weight: 500;
}

.s-promo-v2 > .slot > .body > .timer > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.s-promo-v2 > .slot > .body > .timer > ul > li {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}

.s-promo-v2 > .slot > .body > .timer > ul > li > .value {
  padding: 12px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 6`00;
  border: 1px solid #c7d2dc;
  border-radius: 4px;
  background-color: #f6f7f8;
}

.s-promo-v2 > .slot > .body > .timer > ul > li > .label {
  font-weight: 500;
  font-size: 13px;
}

.s-promo-v2 > .slot > .body > .button {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.s-promo-v2 > .slot > .body > .button > a {
  display: block;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 56px;
  line-height: 56px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: .4px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 24px 48px 0 #44944A48;
  cursor: pointer;
  color: white;
  background-color: #44944A;
  transition: all .3s;
}

.s-promo-v2 > .slot > .body > .button > a:hover {
  box-shadow: 0 0 16px 0 #44944A48;
}

@media (max-width: 960px) {

  .s-promo-v2 > .slot > .header {
    padding-top: 32px;
  }

}

@media (max-width: 720px) {

  .s-promo-v2 > .slot > .body > .text-group > .title {
    font-size: 48px;
  }

}

@media (max-width: 480px) {

  .s-promo-v2 > .slot > .header > .brand > img {
    max-width: 96px;
  }
  .s-promo-v2 > .slot > .header > .slogan {
    padding-left: 16px;
    font-size: 11px;
    letter-spacing: normal;
  }

}

@media (max-width: 640px) {

  .s-promo-v2 > .slot > .body > .text-group > .title {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 1.2;
  }

}

@media (max-width: 480px) {

  .s-promo-v2 > .slot > .body > .text-group > .date-label {
    margin-bottom: 12px;
  }
  .s-promo-v2 > .slot > .body > .text-group > .label {
    font-size: 13px;
  }
  .s-promo-v2 > .slot > .body > .text-group > .title {
    font-size: 24px;
  }
  .s-promo-v2 > .slot > .body > .text-group > .description {
    font-size: 16px;
  }
  .s-promo-v2 > .slot > .body > .timer > .title {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 600;
  }
  .s-promo-v2 > .slot > .body > .timer > ul > li {
    padding: 4px;
  }

}

@media (max-width: 360px) {

  .s-promo-v2 > .slot > .body > .button {
    max-width: none;
  }

}
