.lang{
  position: relative;

  &__active{
    border: none;
    font-size: 12px;
    line-height: 11px;
    cursor: pointer;
    padding: 11px 13px;
    border-radius: 4px;
    position: relative;
    width: 85px;
    outline: 0px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in-out 0s;

    &--img{
      margin-right: 5px;
      width: 16px;
      height: 16px;
      pointer-events: none;
    }

    &--name{
      text-transform: uppercase;
      margin-right: 5px;
      pointer-events: none;
    }

    &--arrow{
      background: var(--bg3);
      padding: 6px 4px 5px;
      border-radius: 4px;
      pointer-events: none;
    }

    &:hover{
      background: var(--bg3);
    }

    &.active{
      background: var(--bg3);
    }

    &.active ~ .lang__select{
      display: block;
    }
  }

  &__select{
    display: none;
    position: absolute;
    top:calc(100% + 10px);
    margin: 0px;
    padding: 0px;
    width: 85px;
    background: var(--bg3);
    border: 1px solid var(--bg3);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 50px;

    & > li{
      list-style-type: none;
      padding: 7px 5px;
      margin: 0px;
      cursor: pointer;
      font-size: 12px;
      line-height: 14px;
      position: relative;
      bottom: 0px;
      color: var(--white2);
      background-color: var(--bg3);
      display: flex;
      align-items: center;
      transition: 0.3s;

      &:hover{
        background: var(--bg4);
      }
    }

    &--img{
      width: 16px;
      height: 16px;
      pointer-events: none;
    }

    &--name{
      text-transform: uppercase;
      margin-left: 8px;
      pointer-events: none;
    }
  }
}
