:root{
  --font-family: 'TT Norms Pro', sans-serif;
  --dark: #303030;
  --grey: #cac7c0;
  --red: #fb8480;
  --white: white;
  --white2: #d8dfef;
  --green: #82d257;
  --pink: #ff4dab;
  --blue: #158bef;
  --green2: #3cad05;
  --bg: #202b3f;
  --bg2: #6a707e;
  --bg3: #283349;
  --bg4: #2f3b55;
  --header--shadow: rgba(30, 37, 56, 1) 0px 4px 40px;;
  --img-trigle-right: url('/stabilitytop/img/arrow/trigle_right_gray.svg');
}
