/*
* root
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700;800&display=swap');

:root {
  --max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1440 - 300)));
  line-height: 1.3;
  background: #f6eff1;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  scroll-behavior: smooth;
}

h1 {
  font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1440 - 300)));
  font-weight: 800;
  margin: 1.8rem 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: calc(13px + (34 - 13) * ((100vw - 300px) / (1440 - 300)));
  font-weight: 800;
  margin: 1.8rem 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

h3 {
  font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1440 - 300)));
  font-weight: 800;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  line-height: 1;
}

h4 {
  font-size: calc(11px + (24 - 11) * ((100vw - 300px) / (1440 - 300)));
  font-weight: 800;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  line-height: 1;
}

p {
  margin-bottom: 2rem;
}

a{
  color:#701e4c;
}

a:hover{
  color:#701e4c;
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 15px;
}

.container-md {
  padding: 0 4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col-2, .col-3, .col-2-w2, .col-1-w1 {
  width: 100%;
  padding: 10px;
}

@media(min-width: 768px) {
  .col-2 {
    width: calc(100% / 2);
  }

  .col-3 {
    width: calc(100% / 3);
  }

  .col-2-w2 {
    width: calc((100% / 3) * 2);
  }

  .col-1-w1 {
    width: calc(100% / 3);
  }
}

.hr {
  background: none;
  outline: 0;
  border: 0;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.hr:before {
  content: '';
  width: 90px;
  height: 3px;
  background: black;
  display: block;
  margin: 2px;
}

.hr:after {
  content: '';
  width: 30px;
  height: 3px;
  background: #701E4C;
  display: block;
  margin: 2px;
}

table {
  width: 100%;
  margin-bottom: 2rem;
}

table>thead {
  background: rgba(112, 30, 76, 0.25);
  font-weight: 800;
}

table>tbody>tr {
  background: rgba(112, 30, 76, 0.15);
}

table>tbody>tr:nth-child(even) {
  background: rgba(112, 30, 76, 0.25);
}

table td {
  padding: 0.4rem 0.6rem;
}

details {
  margin-bottom: 2rem;
}

details>p {
  margin-bottom: 0;
  padding-bottom: 0;
}

details summary {
  font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1440 - 300)));
  font-weight: 800;
  padding-bottom: 0.5rem;
  outline: none;
  cursor: pointer;
  display: flex;
  text-transform: uppercase;
  line-height: 1;
}

details summary::-webkit-details-marker {
  display: none
}

details>summary {
  list-style: none;
  padding-right: 3rem;
  position: relative;
}

details summary:after {
  content: '';
  margin-left: 3rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5607 0.93934C11.9749 0.353553 11.0251 0.353553 10.4393 0.93934L0.893398 10.4853C0.307611 11.0711 0.307611 12.0208 0.893398 12.6066C1.47919 13.1924 2.42893 13.1924 3.01472 12.6066L11.5 4.12132L19.9853 12.6066C20.5711 13.1924 21.5208 13.1924 22.1066 12.6066C22.6924 12.0208 22.6924 11.0711 22.1066 10.4853L12.5607 0.93934ZM13 3V2H10V3H13Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
}

details[open] summary:after {
  transform: rotate(180deg);
}

input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type=checkbox]+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

input[type=checkbox]+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

 input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
   border-color: #701e4c;
 }

 input[type=checkbox]:not(:disabled):active+label::before {
   border-color: #701e4c;
 }

 /* стили для чекбокса, находящегося в состоянии checked */
 input[type=checkbox]:checked+label::before {
   border-color: #701e4c;
   background-color: white;
   background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox = '0 0 14 14' version = '1.1'%3E%3Crect x = '2' y = '2' width = '14' height = '14' fill = '%23701e4c'/%3E%3C/svg%3E");
 }

 input[type=checkbox]:disabled+label::before {
   background-color: #e9ecef;
   border-color: #701e4c;
 }

/*
* header
*/
header {
  width: 100%;
  height: 100vh;
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(112, 30, 76, 0.25) 0%, rgba(112, 30, 76, 0.25) 100%), url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 1.5rem;
}

header .title {
  font-size: calc(18px + (48 - 18) * ((100vw - 300px) / (1440 - 300)));
  font-weight: 700;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  max-width: var(--max-width);
}

header .slogan {
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  max-width: var(--max-width);
}

/*
* nav
*/
nav {
  width: 100%;
  background-color: #E6DBDE;
  /* position: sticky; */
  position: fixed;
  bottom: 0;
  z-index: 2;
}

nav>.nav {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

nav>.nav>.logo {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  padding: 0.5rem;
}

nav>.nav>.logo:before {
  content: '';
  padding: 1rem;
  margin-right: 0.3rem;
  background-image: url("data:image/svg+xml,%3Csvg width='55' height='55' viewBox='0 0 55 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.6766 47.4856H11.3235C10.7302 47.4856 10.2493 47.0047 10.2493 46.4114V16.1433C10.2493 15.55 10.7302 15.0691 11.3235 15.0691H43.6766C44.2699 15.0691 44.7508 15.55 44.7508 16.1433V46.4114C44.7508 47.0047 44.2699 47.4856 43.6766 47.4856Z' fill='%23E2AE83'/%3E%3Cpath d='M44.7507 16.1433C44.7507 15.55 44.2697 15.0691 43.6764 15.0691H32.5623V19.4115C32.5623 20.2977 32.9313 21.1529 33.5745 21.7577C34.1765 22.3236 34.9626 22.6352 35.7881 22.6352C36.5674 22.6352 37.3208 22.3509 37.9095 21.8346L40.3446 19.6995C40.4029 19.6485 40.4768 19.6204 40.5529 19.6204H44.7506V16.1433H44.7507Z' fill='%23D39C72'/%3E%3Cpath d='M13.2366 46.4114V16.1433C13.2366 15.55 13.7175 15.0691 14.3108 15.0691H11.3235C10.7302 15.0691 10.2493 15.55 10.2493 16.1433V46.4114C10.2493 47.0047 10.7302 47.4856 11.3235 47.4856H14.3108C13.7175 47.4856 13.2366 47.0047 13.2366 46.4114Z' fill='%23D39C72'/%3E%3Cpath d='M17.7 36.4977H19.6807C19.9772 36.4977 20.2178 36.2572 20.2178 35.9606V32.5993H21.535C22.0205 32.5993 22.2568 32.0063 21.9044 31.6723L19.1941 29.1044C18.9922 28.913 18.6777 28.9076 18.4691 29.0917L15.5618 31.6596C15.191 31.9871 15.4227 32.5993 15.9173 32.5993H17.1629V35.9606C17.1629 36.2572 17.4034 36.4977 17.7 36.4977Z' fill='%23F1F6F7'/%3E%3Cpath d='M51.1864 16.9348H40.553C39.8254 16.9348 39.1224 17.1996 38.5743 17.6801L36.139 19.8154C35.7918 20.1198 35.2478 19.8733 35.2478 19.4115V3.82486C35.2478 2.15735 36.5944 0.805664 38.2556 0.805664H51.1864C52.8476 0.805664 54.1942 2.15746 54.1942 3.82486V13.9155C54.1942 15.583 52.8476 16.9348 51.1864 16.9348Z' fill='%23701E4C' fill-opacity='0.9'/%3E%3Cpath d='M37.8882 3.82486C37.8882 2.15735 39.2349 0.805664 40.896 0.805664H38.2556C36.5944 0.805664 35.2478 2.15735 35.2478 3.82486V19.4116C35.2478 19.8733 35.7919 20.1198 36.139 19.8155L37.8882 18.2817V3.82486Z' fill='%23701E4C'/%3E%3Cpath d='M50.9743 8.64908L48.4065 5.74171C48.079 5.37089 47.4668 5.6026 47.4668 6.09728V7.34283H41.9756V6.02563C41.9756 5.54008 41.3825 5.30375 41.0485 5.6562L38.4807 8.36646C38.2894 8.56841 38.2839 8.88294 38.468 9.09145L41.0358 11.9988C41.3634 12.3696 41.9756 12.1379 41.9756 11.6433V10.3977H47.4668V11.7149C47.4668 12.2004 48.0598 12.4368 48.3938 12.0843L50.9616 9.37407C51.1529 9.17212 51.1584 8.85759 50.9743 8.64908Z' fill='%23F1F6F7'/%3E%3Cpath d='M53.6572 54.1943C53.9538 54.1943 54.1944 53.9538 54.1944 53.6572V41.8576C54.1944 41.561 53.9538 41.3205 53.6572 41.3205H51.7073C50.4805 41.3205 49.3038 40.8331 48.4362 39.9655L43.8172 35.3465C43.0705 34.5998 41.8599 34.5998 41.1132 35.3465C40.3665 36.0932 40.3665 37.3038 41.1132 38.0505L43.007 39.9444H41.0653H33.7055C32.7374 39.9444 31.9109 40.6971 31.8785 41.6646C31.8447 42.6762 32.6548 43.5068 33.6587 43.5068H31.8775C30.8937 43.5068 30.0962 44.3043 30.0962 45.2881C30.0962 46.2719 30.8937 47.0694 31.8775 47.0694H33.6587C32.675 47.0694 31.8775 47.8669 31.8775 48.8506C31.8775 49.8344 32.675 50.6319 33.6587 50.6319H35.3438C34.3398 50.6319 33.5297 51.4626 33.5636 52.4741C33.5959 53.4416 34.4224 54.1943 35.3905 54.1943H53.6572Z' fill='%23FFCEBF'/%3E%3Cpath d='M43.0071 39.9444H44.8633L42.9695 38.0505C42.2228 37.3038 42.2228 36.0932 42.9695 35.3465C43.0983 35.2177 43.2417 35.1127 43.3934 35.0282C42.6659 34.6236 41.7311 34.7286 41.1132 35.3465C40.3666 36.0932 40.3666 37.3038 41.1132 38.0505L43.0071 39.9444Z' fill='%23FFB09E'/%3E%3Cpath d='M35.4198 52.474C35.386 51.4624 36.196 50.6318 37.2 50.6318H35.515C34.5312 50.6318 33.7337 49.8343 33.7337 48.8506C33.7337 47.8668 34.5312 47.0693 35.515 47.0693H33.7337C32.7499 47.0693 31.9524 46.2718 31.9524 45.288C31.9524 44.3043 32.7499 43.5068 33.7337 43.5068H35.515C34.511 43.5068 33.7009 42.6761 33.7348 41.6646C33.7671 40.697 34.5936 39.9443 35.5617 39.9443H33.7055C32.7374 39.9443 31.9109 40.697 31.8785 41.6646C31.8447 42.6762 32.6548 43.5068 33.6587 43.5068H31.8775C30.8937 43.5068 30.0962 44.3043 30.0962 45.288C30.0962 46.2718 30.8937 47.0693 31.8775 47.0693H33.6587C32.675 47.0693 31.8775 47.8668 31.8775 48.8506C31.8775 49.8343 32.675 50.6318 33.6587 50.6318H35.3437C34.3398 50.6318 33.5297 51.4625 33.5636 52.474C33.5959 53.4416 34.4224 54.1943 35.3905 54.1943H37.2467C36.2786 54.1943 35.4521 53.4416 35.4198 52.474Z' fill='%23FFB09E'/%3E%3Cpath d='M1.34277 54.1943C1.04618 54.1943 0.805664 53.9538 0.805664 53.6572V41.8576C0.805664 41.561 1.04618 41.3205 1.34277 41.3205H3.2927C4.51956 41.3205 5.69626 40.8331 6.5638 39.9655L11.1828 35.3465C11.9295 34.5998 13.1402 34.5998 13.8869 35.3465C14.6335 36.0932 14.6335 37.3038 13.8869 38.0505L11.993 39.9444H13.9348H21.2946C22.2626 39.9444 23.0892 40.6971 23.1215 41.6646C23.1552 42.6762 22.3453 43.5068 21.3413 43.5068H23.1226C24.1063 43.5068 24.9038 44.3043 24.9038 45.2881C24.9038 46.2719 24.1063 47.0694 23.1226 47.0694H21.3413C22.3251 47.0694 23.1226 47.8669 23.1226 48.8506C23.1226 49.8344 22.3251 50.6319 21.3413 50.6319H19.6563C20.6602 50.6319 21.4703 51.4626 21.4365 52.4741C21.4041 53.4416 20.5776 54.1943 19.6095 54.1943H1.34277Z' fill='%23FFCEBF'/%3E%3Cpath d='M3.24199 53.6572V41.8576C3.24199 41.561 3.48251 41.3205 3.7791 41.3205H5.72902C6.95589 41.3205 8.13259 40.8331 9.00013 39.9655L13.6192 35.3465C13.6621 35.3035 13.7071 35.2636 13.753 35.2256C13.0018 34.6029 11.8866 34.6429 11.1828 35.3465L6.5638 39.9655C5.69626 40.8331 4.51956 41.3205 3.2927 41.3205H1.34277C1.04618 41.3205 0.805664 41.561 0.805664 41.8576V53.6572C0.805664 53.9538 1.04618 54.1943 1.34277 54.1943H3.7791C3.48251 54.1943 3.24199 53.9538 3.24199 53.6572Z' fill='%23FFB09E'/%3E%3Cpath d='M17.7 37.3033H19.6806C20.4211 37.3033 21.0234 36.701 21.0234 35.9605V33.405H21.535C22.088 33.405 22.5777 33.073 22.7823 32.5592C22.987 32.0454 22.8599 31.4677 22.4585 31.0875L19.7482 28.5195C19.2399 28.038 18.4608 28.0242 17.9358 28.488L15.0284 31.0559C14.6061 31.4289 14.4621 32.0105 14.6615 32.5374C14.8608 33.0645 15.3538 33.405 15.9173 33.405H16.3572V35.9605C16.3572 36.7009 16.9595 37.3033 17.7 37.3033ZM18.8184 29.8582L20.8611 31.7936H20.2179C19.7729 31.7936 19.4122 32.1544 19.4122 32.5993V35.692H17.9687V32.5993C17.9687 32.1544 17.6079 31.7936 17.163 31.7936H16.6272L18.8184 29.8582Z' fill='black'/%3E%3Cpath d='M51.1866 0H38.2558C36.153 0 34.4423 1.71585 34.4423 3.82486V14.2634H11.3235C10.287 14.2634 9.4436 15.1067 9.4436 16.1433V19.9496C9.4436 20.3946 9.80433 20.7553 10.2493 20.7553C10.6942 20.7553 11.0549 20.3946 11.0549 19.9496V16.1434C11.0549 15.9953 11.1755 15.8748 11.3235 15.8748H23.0807V24.0289C23.0807 24.5483 23.3712 25.0115 23.8388 25.2376C24.5 25.2376 24.6919 25.2376 25.2685 25.2376H27.5H29.787C30.308 25.2376 30.2044 25.2376 30.5 25.2376C30.6988 25.2376 30.9208 25.2376 31.1612 25.2376C31.6288 25.0115 31.9193 24.5483 31.9193 24.0289V15.8748H34.4422V19.4116C34.4422 19.9456 34.7444 20.4142 35.2308 20.6347C35.4118 20.7166 35.6016 20.7568 35.7896 20.7568C36.1068 20.7568 36.4181 20.6423 36.6702 20.4211L39.1056 18.2859C39.5067 17.9342 40.0208 17.7404 40.5531 17.7404H51.1866C53.2893 17.7404 55 16.0246 55 13.9155V3.82486C55 1.71585 53.2893 0 51.1866 0ZM30.308 23.4736L28.5 23.5C28 23.4736 27.5 23.4736 26.5 23.5L24.6919 23.4736V15.8748H30.3079L30.308 23.4736ZM53.3887 13.9156C53.3887 15.1362 52.4009 16.1292 51.1866 16.1292H40.5532C39.6298 16.1292 38.7385 16.4649 38.0434 17.0744L36.0537 18.8189V3.82486C36.0537 2.60434 37.0416 1.61133 38.2559 1.61133H51.1866C52.4009 1.61133 53.3887 2.60434 53.3887 3.82486V13.9156Z' fill='black'/%3E%3Cpath d='M49.0102 5.20832C48.6372 4.78594 48.0555 4.64189 47.5286 4.84126C47.0016 5.04064 46.661 5.5337 46.661 6.09713V6.53702H42.7811V6.02548C42.7811 5.47247 42.4492 4.98285 41.9354 4.7781C41.4218 4.57346 40.844 4.70043 40.4636 5.10198L37.8957 7.81212C37.414 8.32055 37.4004 9.09979 37.864 9.62454L40.4319 12.5319C40.805 12.9543 41.3867 13.0984 41.9135 12.8989C42.4405 12.6995 42.781 12.2065 42.781 11.643V11.2031H46.6609V11.7147C46.6609 12.2677 46.9928 12.7573 47.5065 12.962C47.6695 13.0269 47.8389 13.0585 48.0063 13.0585C48.3668 13.0585 48.7186 12.9123 48.9784 12.6382L51.5462 9.92801C52.0279 9.41958 52.0415 8.64045 51.5779 8.11559L49.0102 5.20832ZM48.2723 11.041V10.3977C48.2723 9.95272 47.9116 9.59199 47.4666 9.59199H41.9755C41.5305 9.59199 41.1698 9.95272 41.1698 10.3977V10.9335L39.2344 8.74229L41.1698 6.69955V7.3428C41.1698 7.78774 41.5305 8.14846 41.9755 8.14846H47.4666C47.9116 8.14846 48.2723 7.78774 48.2723 7.3428V6.80698L50.2077 8.99827L48.2723 11.041Z' fill='black'/%3E%3Cpath d='M53.6572 40.5149H51.7073C50.6868 40.5149 49.7274 40.1175 49.0059 39.3958L45.5564 35.9464V20.8098C45.5564 20.3649 45.1957 20.0042 44.7508 20.0042C44.3058 20.0042 43.9451 20.3649 43.9451 20.8098V34.4189C43.5084 34.1342 42.9987 33.9809 42.4652 33.9809C41.7393 33.9809 41.0567 34.2637 40.5435 34.7769C39.4839 35.8365 39.4839 37.5606 40.5435 38.6203L41.062 39.1388H33.7055C32.3001 39.1388 31.1195 40.2598 31.0735 41.6377C31.0602 42.0338 31.1352 42.4179 31.2897 42.7686C30.1456 43.0354 29.2908 44.0639 29.2908 45.2881C29.2908 45.8005 29.4422 46.2776 29.7002 46.68H25.3001C25.5581 46.2777 25.7095 45.8007 25.7095 45.2881C25.7095 44.064 24.8546 43.0355 23.7106 42.7687C23.8652 42.418 23.94 42.0339 23.9268 41.6378C23.8808 40.2599 22.7001 39.1389 21.2948 39.1389H13.938L14.4566 38.6204C15.5161 37.5606 15.5161 35.8365 14.4566 34.777C13.9434 34.2638 13.2608 33.981 12.535 33.981C12.0014 33.981 11.4917 34.1342 11.055 34.419V23.852C11.055 23.4071 10.6943 23.0463 10.2493 23.0463C9.80439 23.0463 9.44367 23.4071 9.44367 23.852V35.9465L5.99414 39.3959C5.27259 40.1175 4.3132 40.515 3.2927 40.515H1.34277C0.602314 40.515 0 41.1173 0 41.8577V53.6573C0 54.3977 0.602314 55 1.34277 55H19.6095C21.0149 55 22.1956 53.879 22.2416 52.501C22.2551 52.0966 22.1768 51.7048 22.0156 51.3483C23.116 51.0509 23.928 50.0438 23.928 48.8507C23.928 48.6586 23.9065 48.4716 23.8667 48.2913H31.133C31.0932 48.4715 31.0717 48.6586 31.0717 48.8507C31.0717 50.0438 31.8837 51.0509 32.9841 51.3483C32.8229 51.7048 32.7447 52.0966 32.7581 52.501C32.8041 53.879 33.9848 55 35.3901 55H53.6572C54.3977 55 55 54.3977 55 53.6573V41.8576C55 41.1173 54.3977 40.5149 53.6572 40.5149ZM21.3412 49.8262H19.6562H15.6363C15.1914 49.8262 14.8307 50.1869 14.8307 50.6318C14.8307 51.0768 15.1914 51.4375 15.6363 51.4375H19.6562C19.9229 51.4375 20.172 51.5431 20.3575 51.7351C20.5429 51.9267 20.64 52.1797 20.6311 52.4472C20.6137 52.9663 20.1555 53.3887 19.6094 53.3887H1.61133V42.1262H3.2927C4.74354 42.1262 6.10758 41.5611 7.13346 40.5353L11.7525 35.9162C11.9614 35.7073 12.2392 35.5921 12.5347 35.5921C12.8303 35.5921 13.108 35.7072 13.3171 35.9162C13.7485 36.3476 13.7484 37.0495 13.3171 37.4808L11.4232 39.3747C11.1928 39.6051 11.1239 39.9516 11.2486 40.2526C11.3733 40.5537 11.6671 40.75 11.9929 40.75H21.2945C21.8405 40.75 22.2988 41.1724 22.3161 41.6914C22.3251 41.959 22.2278 42.212 22.0425 42.4037C21.857 42.5955 21.608 42.7011 21.3412 42.7011H15.6363C15.1914 42.7011 14.8307 43.0618 14.8307 43.5068C14.8307 43.9517 15.1914 44.3124 15.6363 44.3124H21.3412H23.1224C23.6603 44.3124 24.0981 44.7501 24.0981 45.288C24.0981 45.826 23.6604 46.2636 23.1224 46.2636H21.3412H15.6363C15.1914 46.2636 14.8307 46.6244 14.8307 47.0693C14.8307 47.5142 15.1914 47.875 15.6363 47.875H21.3412C21.879 47.875 22.3168 48.3126 22.3168 48.8506C22.3168 49.3885 21.8792 49.8262 21.3412 49.8262ZM53.3887 53.3887H35.3905C34.8444 53.3887 34.3861 52.9663 34.3688 52.4472C34.3599 52.1796 34.4571 51.9267 34.6424 51.7351C34.8279 51.5432 35.077 51.4375 35.3437 51.4375H39.3636C39.8085 51.4375 40.1692 51.0768 40.1692 50.6318C40.1692 50.1869 39.8085 49.8262 39.3636 49.8262H35.3437H33.6587C33.1208 49.8262 32.6831 49.3885 32.6831 48.8506C32.6831 48.3126 33.1207 47.875 33.6587 47.875H39.3636C39.8085 47.875 40.1692 47.5142 40.1692 47.0693C40.1692 46.6244 39.8085 46.2636 39.3636 46.2636H33.6587H31.8774C31.3396 46.2636 30.9018 45.826 30.9018 45.288C30.9018 44.7501 31.3395 44.3124 31.8774 44.3124H33.6587H39.3636C39.8085 44.3124 40.1692 43.9517 40.1692 43.5068C40.1692 43.0618 39.8085 42.7011 39.3636 42.7011H33.6587C33.392 42.7011 33.1429 42.5955 32.9574 42.4037C32.7719 42.212 32.6748 41.959 32.6838 41.6914C32.7012 41.1723 33.1594 40.75 33.7054 40.75H43.007C43.3329 40.75 43.6266 40.5537 43.7513 40.2526C43.876 39.9515 43.8071 39.6051 43.5766 39.3747L41.6828 37.4808C41.2514 37.0494 41.2514 36.3475 41.6828 35.9162C41.8917 35.7073 42.1696 35.5921 42.4652 35.5921C42.7607 35.5921 43.0385 35.7072 43.2475 35.9162L47.8665 40.5353C48.8924 41.5611 50.2565 42.1262 51.7073 42.1262H53.3887V53.3887Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

nav>.nav>.logo>.logo__text {
  text-transform: uppercase;
  font-size: calc(10px + (36 - 10) * ((100vw - 300px) / (1440 - 300)));
  line-height: 1;
}

nav>.nav>.logo>.logo__text>span {
  display: block;
  text-transform: none;
  font-size: calc(8px + (14 - 8) * ((100vw - 300px) / (1440 - 300)));
  line-height: 1;
}

nav>.nav>.phone {
  padding: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav>.nav>.phone>a {
  display: block;
  font-size: calc(8px + (36 - 8) * ((100vw - 300px) / (1440 - 300)));
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  color: black;
}

nav>.nav>.phone>span {
  display: block;
  font-size: calc(8px + (18 - 8) * ((100vw - 300px) / (1440 - 300)));
  line-height: 1;
}

nav>.nav>.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(12px + (36 - 12) * ((100vw - 300px) / (1440 - 300)));
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  background: #701E4C;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: 0.3s;
}

nav>.nav>.button:hover {
  background: #360f25;
}

nav>.nav>.button>span {
  display: block;
  font-size: calc(6px + (18 - 6) * ((100vw - 300px) / (1440 - 300)));
  line-height: 1;
  font-weight: 500;
}

/* @media(orientation: landscape) {
  nav {
    position: fixed;
    width: 20vw;
    height: 100%;
    right: 0;
  }

  nav>.nav {
    height: 100%;
    flex-direction: column;
  }

  body {
    width: 80vw;
  }
} */

/*
* section
*/
section>p {
  text-align: center;
}

.article {
  padding-bottom: 4rem;
  position: relative;
}

.article:before {
  content: '';
  position: absolute;
  padding: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23701E4C' fill-opacity='0.25'/%3E%3Cpath d='M38.9636 61.0418H42.2047C43.4163 61.0418 44.4019 60.0562 44.4019 58.8445V54.6627H45.239C46.1439 54.6627 46.9453 54.1195 47.2802 53.2788C47.615 52.438 47.4071 51.4926 46.7502 50.8704L42.3152 46.6683C41.4834 45.8803 40.2085 45.8578 39.3494 46.6166L34.5919 50.8187C33.9009 51.4292 33.6652 52.3809 33.9915 53.2431C34.3177 54.1055 35.1244 54.6627 36.0465 54.6627H36.7663V58.8445C36.7663 60.056 37.7519 61.0418 38.9636 61.0418ZM40.7937 48.8589L44.1363 52.026H43.0837C42.3557 52.026 41.7654 52.6162 41.7654 53.3443V58.4051H39.4032V53.3443C39.4032 52.6162 38.813 52.026 38.0849 52.026H37.2081L40.7937 48.8589Z' fill='black'/%3E%3Cpath d='M93.7598 0H72.6003C69.1594 0 66.3601 2.80775 66.3601 6.25887V23.3401H28.5293C26.8332 23.3401 25.4531 24.7201 25.4531 26.4162V32.6449C25.4531 33.3729 26.0434 33.9632 26.7715 33.9632C27.4996 33.9632 28.0898 33.3729 28.0898 32.6449V26.4164C28.0898 26.1742 28.2871 25.977 28.5293 25.977H47.7684V39.32C47.7684 40.1699 48.2437 40.9279 49.0089 41.2979C49.7739 41.6679 50.6633 41.5702 51.3299 41.0423L55 38.1359L58.6702 41.0425C59.0686 41.358 59.5468 41.5199 60.0305 41.5199C60.3557 41.5199 60.6834 41.4466 60.991 41.2979C61.7562 40.9279 62.2315 40.1699 62.2315 39.32V25.977H66.3599V31.7644C66.3599 32.6382 66.8544 33.4051 67.6503 33.7658C67.9465 33.8999 68.2571 33.9657 68.5647 33.9657C69.0838 33.9657 69.5932 33.7783 70.0058 33.4164L73.9909 29.9224C74.6473 29.3469 75.4886 29.0297 76.3595 29.0297H93.7598C97.2007 29.0297 100 26.222 100 22.7709V6.25887C100 2.80775 97.2007 0 93.7598 0V0ZM59.5949 38.4114L56.3639 35.8527C55.5608 35.2169 54.4389 35.2169 53.6358 35.8529L50.4049 38.4114V25.977H59.5948V38.4114H59.5949ZM97.3633 22.7711C97.3633 24.7683 95.7468 26.3932 93.7598 26.3932H76.3597C74.8487 26.3932 73.3903 26.9425 72.2528 27.9399L68.997 30.7946V6.25887C68.997 4.26164 70.6134 2.63672 72.6005 2.63672H93.7598C95.7468 2.63672 97.3633 4.26164 97.3633 6.25887V22.7711Z' fill='black'/%3E%3Cpath d='M90.1985 8.52276C89.5882 7.83159 88.6363 7.59587 87.7741 7.92212C86.9118 8.24837 86.3543 9.05521 86.3543 9.97718V10.697H80.0055V9.85993C80.0055 8.95501 79.4623 8.1538 78.6216 7.81876C77.7811 7.4839 76.8356 7.69167 76.2132 8.34874L72.0111 12.7835C71.2229 13.6155 71.2006 14.8906 71.9593 15.7493L76.1613 20.5068C76.7718 21.198 77.7237 21.4337 78.5857 21.1073C79.4481 20.781 80.0053 19.9744 80.0053 19.0522V18.3324H86.3542V19.1695C86.3542 20.0744 86.8973 20.8756 87.7379 21.2107C88.0046 21.3168 88.2818 21.3685 88.5558 21.3685C89.1458 21.3685 89.7214 21.1293 90.1465 20.6807L94.3484 16.2459C95.1366 15.4139 95.1589 14.139 94.4002 13.2801L90.1985 8.52276ZM88.9911 18.0672V17.0144C88.9911 16.2863 88.4008 15.696 87.6727 15.696H78.6871C77.959 15.696 77.3688 16.2863 77.3688 17.0144V17.8912L74.2017 14.3056L77.3688 10.963V12.0155C77.3688 12.7436 77.959 13.3339 78.6871 13.3339H87.6727C88.4008 13.3339 88.9911 12.7436 88.9911 12.0155V11.1387L92.1581 14.7245L88.9911 18.0672Z' fill='black'/%3E%3Cpath d='M97.8027 66.297H94.612C92.942 66.297 91.3721 65.6468 90.1914 64.4659L84.5469 58.8213V34.0524C84.5469 33.3243 83.9566 32.734 83.2285 32.734C82.5005 32.734 81.9102 33.3243 81.9102 34.0524V56.3217C81.1956 55.8559 80.3615 55.6051 79.4884 55.6051C78.3007 55.6051 77.1838 56.0677 76.3439 56.9076C74.61 58.6415 74.61 61.4628 76.3439 63.1967L77.1924 64.0452H65.1545C62.8548 64.0452 60.9228 65.8797 60.8475 68.1344C60.8257 68.7825 60.9484 69.4111 61.2014 69.9849C59.3291 70.4215 57.9304 72.1044 57.9304 74.1078C57.9304 74.9463 58.1781 75.7269 58.6003 76.3854H51.4002C51.8224 75.7271 52.0701 74.9465 52.0701 74.1078C52.0701 72.1046 50.6712 70.4217 48.7991 69.985C49.0521 69.4113 49.1746 68.7827 49.153 68.1346C49.0778 65.8798 47.1456 64.0454 44.846 64.0454H32.8076L33.6563 63.1969C35.39 61.4628 35.39 58.6415 33.6563 56.9078C32.8164 56.0679 31.6995 55.6053 30.5117 55.6053C29.6386 55.6053 28.8046 55.8559 28.09 56.3219V39.0305C28.09 38.3024 27.4997 37.7121 26.7716 37.7121C26.0436 37.7121 25.4533 38.3024 25.4533 39.0305V58.8215L19.8086 64.466C18.6279 65.6468 17.058 66.2972 15.388 66.2972H12.1973C10.9856 66.2972 10 67.2828 10 68.4944V87.8028C10 89.0144 10.9856 90 12.1973 90H42.0883C44.3881 90 46.3201 88.1656 46.3953 85.9106C46.4175 85.249 46.2893 84.6078 46.0255 84.0245C47.8262 83.5378 49.1549 81.8898 49.1549 79.9374C49.1549 79.6231 49.1198 79.3171 49.0546 79.0221H60.9449C60.8797 79.3169 60.8446 79.6231 60.8446 79.9374C60.8446 81.8898 62.1733 83.5378 63.974 84.0245C63.7101 84.6078 63.5822 85.249 63.6041 85.9106C63.6794 88.1656 65.6116 90 67.9111 90H97.8027C99.0144 90 100 89.0144 100 87.8028V68.4942C100 67.2828 99.0144 66.297 97.8027 66.297ZM44.9219 81.5337H42.1646H35.5867C34.8586 81.5337 34.2684 82.124 34.2684 82.8521C34.2684 83.5801 34.8586 84.1704 35.5867 84.1704H42.1646C42.6011 84.1704 43.0087 84.3432 43.3123 84.6573C43.6157 84.9709 43.7746 85.3849 43.76 85.8226C43.7315 86.6721 42.9817 87.3633 42.0882 87.3633H12.6367V68.9337H15.388C17.7621 68.9337 19.9942 68.0091 21.6729 66.3304L29.2313 58.772C29.5732 58.4301 30.0278 58.2416 30.5114 58.2416C30.995 58.2416 31.4495 58.4299 31.7916 58.772C32.4975 59.4779 32.4974 60.6264 31.7916 61.3322L28.6926 64.4312C28.3155 64.8083 28.2027 65.3754 28.4068 65.8679C28.6108 66.3606 29.0916 66.6818 29.6247 66.6818H44.8455C45.739 66.6818 46.489 67.3729 46.5173 68.2223C46.5319 68.6602 46.3728 69.0741 46.0696 69.3877C45.766 69.7017 45.3586 69.8745 44.9219 69.8745H35.5867C34.8586 69.8745 34.2684 70.4647 34.2684 71.1928C34.2684 71.9209 34.8586 72.5112 35.5867 72.5112H44.9219H47.8367C48.7169 72.5112 49.4332 73.2273 49.4332 74.1076C49.4332 74.9879 48.717 75.7041 47.8367 75.7041H44.9219H35.5867C34.8586 75.7041 34.2684 76.2944 34.2684 77.0224C34.2684 77.7505 34.8586 78.3408 35.5867 78.3408H44.9219C45.8021 78.3408 46.5184 79.0569 46.5184 79.9372C46.5184 80.8176 45.8022 81.5337 44.9219 81.5337ZM97.3633 87.3633H67.9117C67.0182 87.3633 66.2681 86.6721 66.2398 85.8226C66.2252 85.3847 66.3843 84.9709 66.6875 84.6573C66.9911 84.3434 67.3987 84.1704 67.8352 84.1704H74.4131C75.1412 84.1704 75.7315 83.5801 75.7315 82.8521C75.7315 82.124 75.1412 81.5337 74.4131 81.5337H67.8352H65.0779C64.1978 81.5337 63.4814 80.8176 63.4814 79.9372C63.4814 79.0569 64.1976 78.3408 65.0779 78.3408H74.4131C75.1412 78.3408 75.7315 77.7505 75.7315 77.0224C75.7315 76.2944 75.1412 75.7041 74.4131 75.7041H65.0779H62.1631C61.2829 75.7041 60.5666 74.9879 60.5666 74.1076C60.5666 73.2273 61.2828 72.5112 62.1631 72.5112H65.0779H74.4131C75.1412 72.5112 75.7315 71.9209 75.7315 71.1928C75.7315 70.4647 75.1412 69.8745 74.4131 69.8745H65.0779C64.6414 69.8745 64.2338 69.7017 63.9302 69.3877C63.6268 69.0741 63.4679 68.6602 63.4825 68.2223C63.511 67.3728 64.2609 66.6818 65.1544 66.6818H80.3751C80.9084 66.6818 81.389 66.3606 81.5931 65.8679C81.7971 65.3752 81.6843 64.8083 81.3072 64.4312L78.2082 61.3322C77.5023 60.6263 77.5023 59.4777 78.2082 58.772C78.5501 58.4301 79.0049 58.2416 79.4884 58.2416C79.972 58.2416 80.4266 58.4299 80.7687 58.772L88.3271 66.3304C90.0058 68.0091 92.2379 68.9337 94.612 68.9337H97.3633V87.3633Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.article>h3 {
  padding-left: 5rem;
}

.article>p {
  padding-left: 5rem;
  margin-bottom: 1.6rem;
}

.article>a {
  padding-left: 5rem;
  float: right;
  text-decoration: none;
  color: #701E4C;
}

.article>a:hover {
  text-decoration: underline;
}

/*
* form
*/
form {
  background: #f6eff1;
  min-height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

form p {
  text-align: center;
}

form input[type=text] {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #701E4C;
  padding: 0 0.8rem;
  font-size: calc(26px + (60 - 26) * ((100vw - 300px) / (1440 - 300)));
  line-height: 1.3;
  font-weight: 500;
  display: block;
  margin-top: 1.1rem;
}

form input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.3);
}

form .error {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #FF0000;
  padding: 0 0.8rem;
  display: none;
  font-size: calc(6px + (14 - 6) * ((100vw - 300px) / (1440 - 300)));
  line-height: 1.5;
}

form .error.active {
  display: block;
}

.form__wrap {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  min-height: 150px;
}

.form__inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

form button {
  padding: 0.6rem 0.8rem;
  color: white;
  text-transform: uppercase;
  background: #701E4C;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 800;
  font-size: calc(14px + (36 - 14) * ((100vw - 300px) / (1440 - 300)));
  transition: 0.3s;
  display: block;
  margin-bottom: 0.8rem;
}

form button:hover {
  background: #360f25;
}

form .checkbox {
  width: 100%;
  max-width: 600px;
  font-size: calc(6px + (12 - 6) * ((100vw - 300px) / (1440 - 300)));
  display: flex;
  align-items: center;
}


/*
* footer
*/
footer {
  background: #f6eff1;
  padding-bottom: 50px!important;
  position: relative;
  z-index: 10;
}

footer .phone{
  font-weight: 700;
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1440 - 300)));
  line-height: 1;
  text-decoration: none;
  color:black;
}

footer .other{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social{
  display: flex;
}

footer .social__vider{
  padding: 1.2rem;
  margin-right: 0.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M48.2395 28.9437C49.7312 16.3874 47.5228 8.46035 43.5395 4.87493L43.5416 4.87285C37.1124 -1.25007 15.3999 -2.15632 7.70825 5.14785C4.25409 8.72076 3.03742 13.9645 2.90409 20.4562C2.77075 26.9499 2.61242 39.1145 13.9478 42.4145H13.9583L13.9478 47.4541C13.9478 47.4541 13.8708 49.4958 15.1749 49.9062C16.6666 50.3895 17.3416 49.4416 21.9812 43.8999C29.7395 44.5728 35.6978 43.0312 36.3749 42.8062C37.9416 42.2812 46.8062 41.1083 48.2395 28.9437ZM22.7458 40.3541C22.7458 40.3541 17.8353 46.477 16.3083 48.0666C15.8083 48.5833 15.2603 48.5353 15.2687 47.5103C15.2687 46.8374 15.3062 39.1437 15.3062 39.1437C5.69575 36.3895 6.26242 26.0312 6.36659 20.6124C6.47075 15.1916 7.46242 10.752 10.3874 7.76243C17.1353 1.43535 36.1708 2.84993 41.0208 7.40826C46.9499 12.6645 44.8395 27.5145 44.852 28.0208C43.6333 38.1749 36.4499 38.8187 35.1291 39.2583C34.5645 39.4458 29.3249 40.7937 22.7458 40.3541Z' fill='%238E24AA'/%3E%3Cpath d='M25.4624 8.95215C24.6603 8.95215 24.6603 10.2021 25.4624 10.2126C31.6853 10.2605 36.8103 14.598 36.8666 22.5542C36.8666 23.3938 38.0957 23.3834 38.0853 22.5438H38.0832C38.0166 13.9709 32.4207 9.00007 25.4624 8.95215Z' fill='%238E24AA'/%3E%3Cpath d='M33.6481 21.2352C33.6294 22.0644 34.8565 22.104 34.8669 21.2644C34.969 16.5373 32.0544 12.6436 26.5773 12.2332C25.7752 12.1748 25.6919 13.4352 26.4919 13.4936C31.2419 13.854 33.744 17.0957 33.6481 21.2352Z' fill='%238E24AA'/%3E%3Cpath d='M32.3353 26.6126C31.3061 26.0168 30.2582 26.3876 29.8249 26.9731L28.9186 28.146C28.4582 28.7418 27.5978 28.6626 27.5978 28.6626C21.3186 27.0022 19.6395 20.4314 19.6395 20.4314C19.6395 20.4314 19.5624 19.5418 20.1374 19.0647L21.2707 18.1272C21.8374 17.6772 22.1957 16.5939 21.6186 15.5293C20.077 12.7439 19.0415 11.7835 18.5145 11.046C17.9603 10.3522 17.127 10.196 16.2603 10.6647H16.2415C14.4395 11.7189 12.4665 13.6918 13.0978 15.7231C14.1749 17.8647 16.154 24.6918 22.4624 29.8501C25.427 32.2897 30.1186 34.7897 32.1103 35.3668L32.129 35.396C34.0915 36.0501 35.9999 34.0001 37.0186 32.1439V32.1293C37.4707 31.2314 37.3207 30.3814 36.6603 29.8251C35.4895 28.6835 33.7228 27.4231 32.3353 26.6126Z' fill='%238E24AA'/%3E%3Cpath d='M27.4356 16.8833C29.4376 17 30.4085 18.0458 30.5126 20.1938C30.5501 21.0333 31.7689 20.975 31.7314 20.1354C31.5981 17.3312 30.1356 15.7687 27.5022 15.6229C26.7001 15.575 26.6251 16.8354 27.4356 16.8833Z' fill='%238E24AA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='50' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer .social__telegram{
  padding: 1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='42' viewBox='0 0 50 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6186 27.627L18.7916 39.2604C19.9749 39.2604 20.4874 38.752 21.102 38.1416L26.6499 32.8395L38.1457 41.2583C40.2541 42.4333 41.7395 41.8145 42.3082 39.3187L49.8541 3.96037L49.8561 3.95828C50.5249 0.841616 48.729 -0.377134 46.6749 0.38745L2.32072 17.3687C-0.706368 18.5437 -0.660535 20.2312 1.80613 20.9958L13.1457 24.5229L39.4853 8.04162C40.7249 7.22078 41.852 7.67495 40.9249 8.49578L19.6186 27.627Z' fill='%23039BE5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer .lang{
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}

footer .lang a{
  text-decoration: none;
  color:black;
}

footer .copy{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1440 - 300)));
}

footer .copy a{
  color:black;
  text-decoration: none;
}

@media(min-width: 768px){
  .footer__order1{
    order: 2;
  }
  .footer__order2{
    order: 1;
  }
}


/*
* max font-size
*/
@media(min-width:1440px) {
  body {
    font-size: 24px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  header .title {
    font-size: 48px;
  }

  nav>.nav>.logo>.logo__text {
    font-size: 36px;
  }

  nav>.nav>.logo>.logo__text>span {
    font-size: 14px;
  }

  nav>.nav>.phone>strong {
    font-size: 36px;
  }

  nav>.nav>.phone>span {
    font-size: 18px;
  }

  nav>.nav>.button {
    font-size: 36px;
  }

  nav>.nav>.button>span {
    font-size: 18px;
  }
}
