@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayRegular.eot");
  src: url("../fonts/Raleway/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayRegular.woff") format("woff"), url("../fonts/Raleway/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayThin.eot");
  src: url("../fonts/Raleway/RalewayThin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayThin.woff") format("woff"), url("../fonts/Raleway/RalewayThin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayExtraLight.eot");
  src: url("../fonts/Raleway/RalewayExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraLight.woff") format("woff"), url("../fonts/Raleway/RalewayExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayLight.eot");
  src: url("../fonts/Raleway/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayLight.woff") format("woff"), url("../fonts/Raleway/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayMedium.eot");
  src: url("../fonts/Raleway/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayMedium.woff") format("woff"), url("../fonts/Raleway/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewaySemiBold.eot");
  src: url("../fonts/Raleway/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewaySemiBold.woff") format("woff"), url("../fonts/Raleway/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayBold.eot");
  src: url("../fonts/Raleway/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayBold.woff") format("woff"), url("../fonts/Raleway/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayExtraBold.eot");
  src: url("../fonts/Raleway/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraBold.woff") format("woff"), url("../fonts/Raleway/RalewayExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayBlack.eot");
  src: url("../fonts/Raleway/RalewayBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayBlack.woff") format("woff"), url("../fonts/Raleway/RalewayBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }
