.s-footer-v0 {
  background-color: black;
}

.s-footer-v0 > .slot {
  /* common */
  width: 100%;
  max-width: 1216px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  /* common */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.s-footer-v0 > .slot > .column {
  /**/
}

.s-footer-v0 > .slot > .column:last-child {
  text-align: right;
  flex: 1;
}

.s-footer-v0 > .slot > .column > .brand {
  padding-right: 32px;
}

.s-footer-v0 > .slot > .column > .brand > img {
  display: block;
  max-width: 112px;
}

.s-footer-v0 > .slot > .column > ul {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.s-footer-v0 > .slot > .column > ul > li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  padding: 6px;
}

.s-footer-v0 > .slot > .column > ul > li > a {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, .16);
  color: rgba(255, 255, 255, .32);
  transition: all .3s;
}

.s-footer-v0 > .slot > .column > ul > li > a:hover {
  border-bottom-color: rgba(255, 255, 255, .48);
  color: rgba(255, 255, 255, 1);
}

.s-footer-v0 > .slot > .column > .info {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(255, 255, 255, .24);
}

@media (max-width: 560px) {

  .s-footer-v0 > .slot {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .s-footer-v0 > .slot > .column > .brand {
    padding-right: 0;
    margin-bottom: 24px;
  }
  .s-footer-v0 > .slot > .column > .brand > img {
    margin-left: auto;
    margin-right: auto;
  }
  .s-footer-v0 > .slot > .column:last-child {
    text-align: center;
  }

}
