.s-about-v0 {
  background-color: white;
}

.s-about-v0 > .slot {
  /* common */
  width: 100%;
  max-width: 1216px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  /* common */
  padding-top: 48px;
  padding-bottom: 48px;
}

.s-about-v0 > .slot > .text-group {
  margin-bottom: 64px;
  text-align: center;
}

.s-about-v0 > .slot > .text-group > .title {
  font-size: 34px;
  line-height: 1;
}

.s-about-v0 > .slot > .body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.s-about-v0 > .slot > .body > .image {
  width: 50%;
}

.s-about-v0 > .slot > .body > .image > img {
  display: block;
  width: 100%;
  max-width: 576px;
}

.s-about-v0 > .slot > .body > .content {
  box-sizing: border-box;
  padding-left: 48px;
}

.s-about-v0 > .slot > .body > .content > ul {
  margin: 0;
  padding: 0;
}

.s-about-v0 > .slot > .body > .content > ul > li {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
}

.s-about-v0 > .slot > .body > .content > ul > li:before {
  position: absolute;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  top: 12px;
  background-color: #44c0ed;
}

@media (max-width: 960px) {

  .s-about-v0 > .slot > .body {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .s-about-v0 > .slot > .body > .content {
    padding-left: 0;
  }

}

@media (max-width: 760px) {

  .s-about-v0 > .slot > .text-group {
    margin-bottom: 48px;
  }
  .s-about-v0 > .slot > .body {
    flex-direction: column;
    align-items: center;
  }
  .s-about-v0 > .slot > .body > .image {
    width: 100%;
    max-width: 480px;
    margin-bottom: 24px;
  }
  .s-about-v0 > .slot > .body > .image > img {
    margin-left: auto;
    margin-right: auto;
  }
  .s-about-v0 > .slot > .body > .content {
    width: 100%;
    max-width: 480px;
  }

}

@media (max-width: 480px) {

  .s-about-v0 > .slot {
    padding-top: 0;
  }
  .s-about-v0 > .slot > .text-group > .title {
    font-size: 24px;
    font-weight: 600;
  }
  .s-about-v0 > .slot > .body > .image {
    margin-bottom: 16px;
  }

}
