.header{
  background: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.10);
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:$menu-height;
  }
}
