.one{
  padding-top: $menu-height;
  padding-bottom: $menu-height;
  position:relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  background: rgb(223,228,230);
  background: linear-gradient(60deg, rgba(223,228,230,1) 0%, rgba(242,247,252,1) 50%, rgba(223,228,230,1) 100%);

  &__title{
    & h1{
      font-size: 1.5rem;
      line-height: 1.7rem;
      text-align: center;
    }
  }

  &__desc{
    color:#6f787e;
    font-size:1.1rem;
    line-height: 1.5rem;
    text-align: center;
  }

  &__button{
    text-align: center;
    margin-top: 2rem;
  }

  &__img{
    display:none;
  }

  &__svg{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 150' preserveAspectRatio='none'%3E%3Cpath d='M-42.61,151.47 C175.78,108.05 416.76,180.09 568.00,132.72 L514.39,171.20 L-1.41,171.20 Z' style='stroke: none; fill: %23fff;'%3E%3C/path%3E%3C/svg%3E");
    width:100%;
    max-width: 1920px;
    height:200px;
    margin:0 auto;

    position: absolute;
    bottom:0;
    left:0;
    right:0;
  }
}
@media (min-width: 1024px) {
  .one{
    height:600px;
    padding-bottom:0;

    & .container{
      height: 100%;
    }

    &__row{
      display: flex;
      justify-content: space-between;
      height: 100%;

      &--left{
        width:40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &--right{
        width:40%;
      }
    }

    &__title{
      & h1{
        font-size: 1.5rem;
        line-height: 1.7rem;
        text-align: left;
      }
    }

    &__desc{
      color:#6f787e;
      font-size:1.1rem;
      line-height: 1.5rem;
      text-align: left;
    }

    &__button{
      text-align: left;
      margin-top: 2rem;
    }

    &__img{
      display:block;
      height: 100%;
      background: url("https://thumb.tildacdn.com/tild6333-3437-4661-b865-633337376665/-/cover/478x699/center/center/-/format/webp/main.png") no-repeat;
      background-size: contain;
    }

  }
}
