$font:'Verdana',Arial,sans-serif;
$font2: Georgia,sans-serif;
$page-width:1200px;
$page-padding: 0 1rem;
$menu-height-mob:50px;
$menu-height:70px;
$backgroun-btn:#d3b67c;
$backgroun-btn-hover:#b89d64;
