<!DOCTYPE html>
<html lang="ru" class="js-html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/template.css">
  <title>Item</title>
</head>

<body>
  <!-- header -->
  <header class="header js-header">
    <div class="header__container">
      <div class="header__inner">
        <div class="header__info">
          <ul>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>

        <div class="header__nav">
          <div class="header__nav--inner js-nav-inner">
            <div class="header__nav--icon js-nav-icon"></div>
            <span class="header__nav--text js-nav-text">Все категории</span>
          </div>
          <nav class="nav js-nav">
            <div class="nav__inner">
              <div class="nav__profile">
                <div class="nav__profile--inner">
                  <a href="#">Вход</a>
                  <div class="nav__profile--inner--line"></div>
                  <a href="#">Регистрация</a>
                </div>
              </div>
              <ul class="nav__category">
                <li><a class="js-nav-category-sub">Категория 1</a>
                  <ul class="nav__category--sub">
                    <li><a class="nav__category--sub--back js-nav-category-sub-back"><i></i><span>Категория 1</span></a></li>
                    <li><a href="#">пунк11</a></li>
                    <li><a href="#">пунк</a></li>
                    <li><a href="#">пунк</a></li>
                    <li><a href="#">пунк</a></li>
                    <li><a href="#">пунк</a></li>
                  </ul>
                </li>
                <li><a class="js-nav-category-sub">Категория 2</a>
                  <ul class="nav__category--sub">
                    <li><a class="nav__category--sub--back js-nav-category-sub-back"><i></i><span>Категория 2</span></a></li>
                    <li><a href="#">пунк222</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                    <li><a href="#">пунк2</a></li>
                  </ul>
                </li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
                <li><a href="#">Категория 3 без подкатегории</a></li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="header__search">
          <div class="header__search--icon js-search-icon"></div>
          <div class="header__search--input js-search-input">
            <input type="text" placeholder="Поиск">
          </div>
        </div>
        <div class="header__logo">
          <a href="#"></a>
          <span>Магазин маштабных моделей</span>
        </div>
        <div class="header__call">
          <a href="tel:+88003337454">
            <span>8(800) 333-7454</span>
            <div>Вт,Чт Выходной</div>
          </a>
        </div>
        <div class="header__profile">
          <div class="header__profile--inner">
            <a href="#" class="header__profile--favorites"></a>
            <a href="#" class="header__profile--login"></a>
            <!-- <a href="#" class="header__profile--user"></a>
            <a href="#" class="header__profile--logout"></a> -->
          </div>
        </div>
        <div class="header__basket">
          <div class="header__basket--inner">
            <a href="#">
              <div class="header__basket--icon"></div>
              <span class="header__basket--num">1</span>
              <span class="header__basket--unit">товар</span>
            </a>
          </div>
          <div class="header__basket--info">
            <div class="header__basket--info--title">В корзине</div>
            <div class="header__basket--info--inner">
              <div class="header__basket--info--item">
                <img src="https://alfamodeli.ru/photo_preview/103060900.jpg" alt="item">
                <div class="header__basket--info--item--name">Название товара товара товара товара 123</div>
                <div class="header__basket--info--item--num">5 шт</div>
                <div class="header__basket--info--item--price">1000</div>
              </div>
              <div class="header__basket--info--item">
                <img src="https://alfamodeli.ru/photo_preview/103060900.jpg" alt="item">
                <div class="header__basket--info--item--name">Название товара</div>
                <div class="header__basket--info--item--num">5 шт</div>
                <div class="header__basket--info--item--price">1000</div>
              </div>
            </div>
            <div class="header__basket--info--total">
              <span class="header__basket--info--total--text">Сумма заказа:</span>
              <span class="header__basket--info--total--price">10000</span>
            </div>
            <div class="header__basket--info--checkout">
              <a href="#">Перейти в корзину</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- / header -->

  <!-- home -->
  <main>
    <div class="container">
      <div class="shop__header">
        <div class="crumbs">
          <a href="#">Главная</a>
          Оформление заказа
        </div>
        <h1>Оформление заказа</h1>
      </div>
    </div>

    <div class="checkout">
      <div class="container">
        <div class="checkout__inner">
          <div class="checkout__left">
            <div class="checkout__basket">
                <img src="https://alfamodeli.ru/photo/CMF0400BK.jpg" alt="image">
                <div class="checkout__basket--name">Название товара</div>
                <div class="checkout__basket--price">1000</div>
                <div class="checkout__basket--count">
                  <div class="checkout__basket--count--minus"></div>
                  <input class="checkout__basket--count--input" type="number" min="1" value="1">
                  <div class="checkout__basket--count--plus"></div>
                </div>
                <div class="checkout__basket--delete"></div>
            </div>

            <div class="checkout__basket">
                <img src="https://alfamodeli.ru/photo/CMF0400BK.jpg" alt="image">
                <div class="checkout__basket--name">Название товара</div>
                <div class="checkout__basket--price">1000</div>
                <div class="checkout__basket--count">
                  <div class="checkout__basket--count--minus"></div>
                  <input class="checkout__basket--count--input" type="number" min="1" value="1">
                  <div class="checkout__basket--count--plus"></div>
                </div>
                <div class="checkout__basket--delete"></div>
            </div>

            <!-- promo -->
            <div class="checkout__block">
              <h3>Промо-код</h3>
                <input type="text" id="order-fld-19" name="fld19" value="">
                <input type="button" value="Проверить код" onclick="checkPromo('19')">
                <input type="button" value="Очистить" onclick="checkPromo('19', 1)">
            </div>
            <!-- promo -->

            <!-- city -->
            <div class="checkout__block">
              <h3>Ваш город Москва</h3>
                 <input type="text" placeholder="Город">
                 <ul class="cityList">
                   <li>Город 1</li>
                   <li>Город 2</li>
                   <li>Город 3</li>
                   <li>Город 4</li>
                   <li>Город 5</li>
                   <li>Город 6</li>
                   <li>Город 7</li>
                   <li>Город 8</li>
                   <li>Город 9</li>
                   <li>Город 10</li>
                 </ul>
            </div>
            <!-- city -->

            <!-- contact -->
            <div class="checkout__block">
              <h3>Контактные данные</h3>
              <input type="text" placeholder="* Имя" v-model="info.name">
              <input type="tel" id="mask" v-model="info.phone" placeholder="* Телефон" autocomplete="tel" maxlength="18" />
              <input type="text" placeholder="* Email" v-model="info.email">
            </div>
            <!-- contact -->

          </div>
          <div class="checkout__right">
            <div class="checkout__aside">
               <div class="checkout__aside--block">
                 <h3>Информация о заказе</h3>
                 <div class="checkout__aside--block--item">
                   <span>Город</span> Москва
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Имя</span> Владилав
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Телефон</span> +380957373999
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Email</span> mail@mail.com
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Способ доставки</span> Самовывоз
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Адрес</span> ул.Улица дом.24
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Способ оплаты</span> Наличными при получении
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Время доставки, дней</span> 10
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Стоимость товара</span> 5200 руб.
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Стоимость доставки <span>и комиссия оператора</span></span> 800 руб.
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Скидка</span> 120 руб.
                 </div>
                 <div class="checkout__aside--block--item">
                   <span>Итого</span> 5880 руб.
                 </div>
               </div>
            </div>
            <input class="checkout__aside--order" type="button" id="order-button" value="Оформить заказ" onclick="shopCheckOut()">
          </div>

        </div>
      </div>
    </div>

  </main>
  <!-- / home -->

  <!-- footer -->
  <footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__block">
          <div class="footer__block--title js-footer-title">Интернет-маназин</div>
          <ul class="footer__block--ul">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <div class="footer__block--title js-footer-title">Уголок покупателя</div>
          <ul class="footer__block--ul">
            <li><a href="#">Мои заказы</a></li>
            <li><a href="#">Обмен и возврат товара</a></li>
            <li><a href="#">Накопительные скидки и промокоды</a></li>
            <li><a href="#">Подарочные сертификаты</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <div class="footer__block--title js-footer-title">Правила</div>
          <ul class="footer__block--ul">
            <li><a href="#">Пользовательское соглашение</a></li>
            <li><a href="#">Политика обработки персональных данных</a></li>
            <li><a href="#">Политика использования файлов сookie</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <div class="footer__block--title js-footer-title">Горячая линия</div>
          <div class="footer__block--phone">
            <a href="tel:+88003337454">8(800) 333-7454 <span>Вт,Чт Выходной</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copy">
      &copy; Интернем-магазин cmc-russia.ru
    </div>
  </footer>
  <!-- / footer -->
  <script src="https://www.cmc-russia.ru/.s/src/jquery-3.3.1.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/template.js"></script>

</body>

</html>
