.header{
  background: var(--bg2);

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background: transparent;
    padding: 0px 20px;
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    color: var(--dark);
    height: 68px;

    @media(min-width: 1024px){
      height: 84px;
    }
  }

  &__logo{
    flex-grow: 1;
    @media(min-width: 1366px){
      flex-grow: 0;
    }

    & > a{
      width: 70px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 800;
      text-transform: uppercase;
      color: var(--dark);
      text-decoration: none;
      outline: 0;
      border: 0;
    }
  }

  &__lang{
    margin-right: 10px;
    @media(min-width: 1366px){
      display: none;
    }
  }

  &__nav{
    @media(min-width: 1366px){
      flex-grow: 1;
    }
  }
}
