:root{
  --font-family: 'TT Norms Pro', sans-serif;
  --dark: #303030;
  --grey: #d3d3d5;
  --grey2: #6d6d6d;
  --red: #d83636;
  --white: #fefefe;
  --green: #36daac;
  --green2: #0e7256;
  --green3: #499680;
  --bg: #01684b;
  --bg2: #f7f7f7;
  --bg3: #1f2022;
  --img-trigle-right: url('/stabilitytop/img/arrow/trigle_right_gray.svg');
}
