body {
  width: 100%;
  max-width: 1000px;
  height: 80vh;
  margin: 20px auto;
  font-family: "Open Sans", sans-serif;
}

:root {
  --board-background: white;
  --board-line-color: #e0e2e5;
}

.board {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  border: 1px solid var(--board-line-color);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  /* Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}
.board * {
  box-sizing: border-box;
}
.board__main {
  width: 100%;
  height: 100%;
  overflow: scroll;
  cursor: move;
  display: flex;
}
.board__item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  transform-origin: 0 0;
  position: relative;
  border-top: 2px solid var(--board-line-color);
}
.board__item--my {
  border: 0;
  position: relative;
  z-index: 5;
}
.board__item--my > .board__user .board__user--inner {
  cursor: auto;
}
.board__item--my > .board__user:before {
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  top: inherit;
  bottom: 0;
  border-left: 2px solid var(--board-line-color);
  height: 30px;
}
.board__item--solo {
  border: 0;
}
.board__item--last > .board__user:after {
  content: none;
}
.board__item:first-child:before {
  content: "";
  width: calc(50% - 2px);
  height: 8px;
  background: var(--board-background);
  position: absolute;
  top: -4px;
  left: 0;
}
.board__item:last-child:before {
  content: "";
  width: 50%;
  height: 8px;
  background: var(--board-background);
  position: absolute;
  top: -4px;
  right: 0;
}
.board__item--children {
  display: flex;
  flex-direction: row;
  position: relative;
}
.board__item--children .board__user {
  min-height: 160px;
}
.board__item--children .board__user--img {
  width: 94px;
  height: 94px;
}
.board__item--children .board__user--img img {
  width: 86px;
  height: 86px;
}
.board__item--children .board__user--name {
  font-size: 12px;
  line-height: 26px;
  padding: 0 8px;
}
.board__item--children .board__item--children .board__user {
  min-height: 120px;
}
.board__item--children .board__item--children .board__user--img {
  width: 80px;
  height: 80px;
}
.board__item--children .board__item--children .board__user--img img {
  width: 72px;
  height: 72px;
  border-width: 2px;
}
.board__item--children .board__item--children .board__user--name {
  display: none;
}
.board__user {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 180px;
}
.board__user:before {
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  top: -20px;
  border-left: 2px solid var(--board-line-color);
  height: 30px;
  z-index: 2;
}
.board__user:after {
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  bottom: 0;
  border-left: 2px solid var(--board-line-color);
  height: 20px;
  z-index: 2;
}
.board__user--inner {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.board__user--img {
  display: block;
  border: 1px solid rgba(51, 90, 230, 0.5);
  width: 104px;
  height: 104px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__user--img img {
  width: 96px;
  height: 96px;
  border: 3px solid #3359e6;
  border-radius: 50%;
  object-fit: cover;
}
.board__user--name {
  background: #F5B84C;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  padding: 0 18px;
  margin-top: -10px;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
  text-align: center;
}
.board__user--move .board__user--img img {
  border-color: green;
}
.board__zoom {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding: 20px 10px;
}
.board__zoom--button {
  cursor: pointer;
  background: #F5B84C;
  border: 0;
  outline: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  width: 30px;
  text-transform: uppercase;
  margin: 0 5px;
}