@import 'normalize.scss';
//@import 'bootstrap/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}
@media (min-width: 400px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 17px;
  }
}

body {
  color: #333;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-family: 'Open Sans', aria,sans-serif;
  //font-family: 'Roboto', aria, sans-serif;
}

//=== header ===//
.header{
  &__info{
    position:relative;
    z-index: 2;
    background: #fff;
    min-height: 3rem;
    text-align: center;
    font-family: 'Open Sans', aria,sans-serif;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    &-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:1rem 1rem 0;
        font-size: 1.5rem;
        & img{
          height:1.7rem;
          margin-right: 0.5rem
        }
    }
    &-text{
      display: inline-block;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.2rem;
      padding:0.5rem 1rem;
      & span{
        display: inline-block;
      }
    }
  }
}
@media all and (min-width: 1024px) {
  .header {
    &__info {
      &-text{
        font-size: 1.4rem;
        line-height: 2rem;
      }
      &-logo{
          display: inline-block;
          padding: 0;
          & span{
            display:none;
          }
          & img{
            height:2rem;
            margin-right: 0;
            margin-bottom:-0.5rem;
          }
      }
    }
  }
}
//=== / header ===//

//=== one ===//
.one{
  background: url('//hikornienko.github.io/invest/img/header.jpg');
  background-size: cover;
  //min-height:100vh;
  position: relative;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  &:before{
    content: '';
    background: #fff;
    opacity: 0.8;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index: 1;
  }
  & h1{
      font-family: 'Roboto', aria, sans-serif;
      color: #19063b;
      font-size: 2rem;
      line-height: 2.4rem;
      text-transform: uppercase;
      padding: 1rem;
      text-align: center;
      position: relative;
      z-index: 2;
      padding: 3rem 2rem 1rem;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
      margin:0;
      & span{
        background: #ffe91e;
        padding:0 0.3rem;
      }
  }
  &__video{
    z-index: 2;
    position: relative;
    padding:1rem;
    max-width: 600px;
    margin: 0 auto;
    &-desc{
      font-size: 1.2rem;
      line-height: 2rem;
      font-weight: 300;
      text-align: center;
      margin:1.2rem 1rem;
      & svg{
        width:2rem;
        height:2rem;
        margin-bottom: -1.4rem;
      }
    }
    &-wrap{
      position: relative;
      padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
      height: 0;
      overflow: hidden;
      & iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
      }
    }
  }
  &__desc{
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 2rem;
    position: relative;
    z-index: 2;
    & span{
      text-decoration: underline;
    }
  }
  &__button{
    position: relative;
    z-index: 2;
    text-align: center;
    padding-bottom: 3rem;
  }
}
@media all and (min-width: 1024px) {
  .one {
    & h1{
        font-size: 3rem;
        line-height: 3.2rem;
        padding: 6rem 2rem 2rem;
    }
  }
}
//=== / one ===//

//=== two ===//
.two{
  text-align: center;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  padding-bottom: 2rem;
  & h2{
    color:#000;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
    padding: 0 1rem;
    margin: 3rem 0;
  }
  & .row{
    max-width: 1024px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    &__block{
      padding:1rem;
      &-img{
        opacity: 0.5;
        & svg{
          width: 120px;
        }
      }
      &-title{
        font-family: 'Roboto', aria, sans-serif;
        font-size: 1.4rem;
        line-height: 3rem;
        font-weight: 700;
      }
      &-desc{
        font-size: 1.2rem;
        line-height: 1.4rem;
        font-weight: 400;
        margin-bottom: 3rem;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .two{
    & .row{
      justify-content: space-between;
      flex-direction: row;
      &__block{
        width:33.3%;
        padding:1rem;
        margin-bottom: 2rem;
        &-img{
          & svg{
            height:180px;
          }
        }
        &-desc{
          padding:0 1rem;
        }
      }
    }
  }
}
//=== / two ===//

//=== / tree ===//
.tree{
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
    padding:2rem;
  & h1{
    font-family: 'Roboto', aria, sans-serif;
    font-weight: 300;
    color: #19063b;
    font-size: 2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 3rem 2rem 1rem;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
    margin:0;
  }
  & h2{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
    margin:1rem;
    & span{
      background: #ffe91e;
      padding:0 0.3rem;
    }
  }
  &__desc{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: center;
    margin:1rem;
    & span{
      background: #ffe91e;
      padding:0 0.3rem;
    }
  }
}
//=== / tree ===//

//=== social ===//
.popup{
  text-align: center;
}
.popup a {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 5px;
		border: none;
	}
	.popup a:hover {
		opacity: .9;
		cursor: pointer;
	}
	.popup .vk {
		background: url('//hikornienko.github.io/invest/img/vk.svg');
		background-size: cover;
	}
	.popup .tg {
		background: url('//hikornienko.github.io/invest/img/tg.svg');
		background-size: cover;
	}
	.popup .viber {
		background: url('//hikornienko.github.io/invest/img/viber.svg');
		background-size: cover;
	}
	.popup .fb {
		background: url('//hikornienko.github.io/invest/img/fb.svg');
		background-size: cover;
	}
//=== / social ===//

//=== footer ===//
.footer{
  padding:3rem;
  color:#7f7f7f;
  font-size: 0.8rem;
  text-align: center;
}
//=== / footer ===//

//=== button ===//
.button{
  font-family: 'Roboto', aria, sans-serif;
  margin:1rem;
  background: #ffe91e;
  color:#000;
  font-size: 1.5rem;
  line-height: 5rem;
  padding:1rem 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  outline:5px solid #ffe91e;
  &:hover{
    transition: 0.3s;
    background: none;
    color:#000;
    text-decoration: none;
    //box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
}
//=== / button ===//

//=== typography ===//
a{
  color:#337ab7;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
//=== / typography  ===//

//=== widget ===//
.b24-widget-button-wrapper{
  display: none!important;
}
//=== / widget ===//
