.buy{
  width: 100%;
  max-width: var(--template-width);
  margin: 0 auto 80px;
  padding: 0 30px;
  @media(min-width: 1024px) {
    margin: 0 auto 145px;
  }

  & > form{
    padding: 30px 0 0;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    & > input{
      margin-bottom: 32px;
    }

    & > input[type="submit"]{
      margin-top: calc(60px - 32px);
    }

    &.animation{
      animation-name: bottom;
    }
  }

  &__complete{
    width: 100%;
    max-width: 300px;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #AEF0AD;
    color:#30632F;
    text-align: center;
    display: none;

    &.active{
      display: flex;
    }
  }

  & > h2{
    &.animation{
      animation-name: left;
    }
  }
}
