header{
  width:100%;
  max-width: var(--template-width);
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  @media(min-width: 1024px){
    text-align: left;
  }
}

.logo{
  display: inline-block;
  font-size: 30px;
  font-weight:500;
  line-height: 58px;
  color:var(--template-color);
  text-decoration: none;
  padding: 32px 0;
}
