.review{
  width: 100%;
  max-width: var(--template-width);
  margin: 0 auto 80px;
  padding: 50px;
  text-align: center;
  position: relative;
  @media(min-width: 1024px) {
    margin: 0 auto 145px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &::after{
    content:'';
    background-image: url("data:image/svg+xml,%3Csvg width='140' height='69' viewBox='0 0 140 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0 8.99976H1V68.9998H0V8.99976Z' fill='%23E2E2E2'/%3E%3Cpath d='M140 8.99976L140 9.99976L0 9.99975L1.19249e-08 8.99976L140 8.99976Z' fill='%23E2E2E2'/%3E%3Cpath d='M30.7207 0.365234V1.56643C29.002 2.46483 27.7715 3.40233 27.0293 4.37893C26.2871 5.35554 25.916 6.41993 25.916 7.57233C25.916 8.25593 26.0137 8.72464 26.209 8.97853C26.3848 9.25204 26.5996 9.38873 26.8535 9.38873C27.1074 9.38873 27.4492 9.32033 27.8789 9.18363C28.3086 9.02733 28.6992 8.94923 29.0508 8.94923C29.8516 8.94923 30.5449 9.25204 31.1309 9.85744C31.7363 10.4434 32.0391 11.166 32.0391 12.0254C32.0391 12.9629 31.6777 13.7734 30.9551 14.457C30.2324 15.1211 29.334 15.4531 28.2598 15.4531C26.9512 15.4531 25.7695 14.8867 24.7148 13.7539C23.6602 12.6211 23.1328 11.2246 23.1328 9.56454C23.1328 7.61134 23.7773 5.79493 25.0664 4.11523C26.375 2.41603 28.2598 1.16603 30.7207 0.365234ZM44.6953 0.453135V1.56643C42.7227 2.69923 41.4238 3.71483 40.7988 4.61333C40.1738 5.51173 39.8613 6.56643 39.8613 7.77733C39.8613 8.32423 39.9688 8.73443 40.1836 9.00783C40.3984 9.28123 40.623 9.41803 40.8574 9.41803C41.0723 9.41803 41.3945 9.33983 41.8242 9.18363C42.2539 9.02733 42.6836 8.94923 43.1133 8.94923C43.9141 8.94923 44.6074 9.24223 45.1934 9.82813C45.7988 10.3945 46.1016 11.0977 46.1016 11.9375C46.1016 12.8945 45.7207 13.7246 44.959 14.4277C44.2168 15.1309 43.2988 15.4824 42.2051 15.4824C40.916 15.4824 39.7539 14.9258 38.7188 13.8125C37.6836 12.6992 37.166 11.3125 37.166 9.65233C37.166 7.60163 37.8203 5.73633 39.1289 4.05663C40.4375 2.35743 42.293 1.15623 44.6953 0.453135Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='140' height='69' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width:140px;
    height:69px;
    position: absolute;
    left: 30px;
    top: 0;
  }

  &::before{
    content:'';
    background-image: url("data:image/svg+xml,%3Csvg width='140' height='69' viewBox='0 0 140 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M140 60L139 60L139 7.62939e-06L140 7.71682e-06L140 60Z' fill='%23E2E2E2'/%3E%3Cpath d='M-9.93476e-08 60L0 59L140 59L140 60L-9.93476e-08 60Z' fill='%23E2E2E2'/%3E%3Cpath d='M95.5391 68.4824V67.252C97.5117 66.1387 98.8008 65.1328 99.4062 64.2344C100.031 63.3164 100.344 62.2617 100.344 61.0703C100.344 60.5234 100.246 60.1133 100.051 59.8398C99.8359 59.5664 99.6016 59.4297 99.3477 59.4297C99.1523 59.4297 98.8398 59.5078 98.4102 59.6641C97.9805 59.8203 97.5508 59.8984 97.1211 59.8984C96.3008 59.8984 95.5977 59.6055 95.0117 59.0195C94.4258 58.4336 94.1328 57.7207 94.1328 56.8809C94.1328 55.9434 94.5039 55.123 95.2461 54.4199C96.0078 53.7168 96.9258 53.3652 98 53.3652C99.2891 53.3652 100.451 53.9219 101.486 55.0352C102.541 56.1484 103.068 57.5547 103.068 59.2539C103.068 61.3047 102.404 63.1797 101.076 64.8789C99.7676 66.5781 97.9219 67.7793 95.5391 68.4824ZM109.514 68.4824V67.252C111.213 66.373 112.434 65.4453 113.176 64.4688C113.938 63.4727 114.318 62.3984 114.318 61.2461C114.318 60.5625 114.221 60.084 114.025 59.8105C113.83 59.5566 113.615 59.4297 113.381 59.4297C113.127 59.4297 112.785 59.5078 112.355 59.6641C111.906 59.8203 111.516 59.8984 111.184 59.8984C110.383 59.8984 109.68 59.5957 109.074 58.9902C108.488 58.3848 108.195 57.6621 108.195 56.8223C108.195 55.8848 108.557 55.0742 109.279 54.3906C110.002 53.707 110.891 53.3652 111.945 53.3652C113.273 53.3652 114.465 53.9414 115.52 55.0938C116.574 56.2266 117.102 57.623 117.102 59.2832C117.102 61.2363 116.447 63.0625 115.139 64.7617C113.85 66.4414 111.975 67.6816 109.514 68.4824Z' fill='black'/%3E%3C/svg%3E");
    width:140px;
    height:69px;
    position: absolute;
    right: 30px;
    bottom: 0;
  }

  &__item{
    display: none;

    & > p{
      font-size: 17px;
      color: var(--grey);
    }

    &--autor{
      margin-top: 20px;
      font-size: 17px;
      font-weight: 500;
    }

    &.active{
      display: block;
      animation-name: review;
      animation-duration: var(--animation-speed);
      animation-fill-mode: forwards;
    }
  }

  &.animation{
    animation-name: bottom;
  }
}
