@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'normalize.scss';

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

/*** page ***/
.page {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .page {
    flex-direction: row;
  }

  .content {
    width: 70%;
  }

  .sitebar {
    width: 30%;
    &__block{
      position: sticky;
      padding: 1rem;
      background: #fff;
    }
  }
}
/*** / page ***/

/*** main ***/
.app {
  & input,
  & select,
  & textarea {
    -webkit-appearance: none;
  }

  & input[type="text"] {
    border: 2px solid #e4e6e8;
    border-radius: 2px;
    outline: 0;
    padding: 7px 16px;
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
    margin-bottom: 15px;
    box-shadow: 0;
    background: #fff;

    &:focus {
      border: 2px solid #3384ff;
    }

    &::placeholder {
      color: #aaa;
    }
  }

  &__block {
    padding: 1rem;
    background: #fff;
    margin: 0 0 2rem 0;
  }
}
@media (min-width: 1024px) {
  .app {
    & input,
    & select,
    & textarea {
      -webkit-appearance: none;
    }

    &__block {
      margin: 0 2rem 2rem 0;
    }
  }
}
/*** / main ***/

/*** delivery ***/
.delivery{
  &__buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--item{
      padding:1rem;
      border: 2px solid #e4e6e8;
      width: 100%;
      cursor: pointer;
      display: none;
      &:hover{
        border: 2px solid #3384ff;
      }
    }
    & .show{
      display:block;
    }
    & .active{
      border: 2px solid #3384ff;
    }
  }

  &__open{
    &--item{
      width: 100%;
      padding: 1rem 0;
      display: none;
    }
    & .show{
      display: block;
    }
  }
}
@media (min-width: 1024px) {
  .delivery{
    &__buttons{
      flex-direction: row;
    }

  }
}
/*** / delivery ***/

/*** pay ***/
.pay{
  &__item{
    padding:1rem;
    border: 2px solid #e4e6e8;
    width: 100%;
    cursor: pointer;
    margin: 0.5rem 0;
    display:none;
    &:hover{
      border: 2px solid #3384ff;
    }
  }
  & .show{
    display:block;
  }
  & .active{
    border: 2px solid #3384ff;
  }
}
@media (min-width: 1024px) {
  .pay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item{
      width: calc(50% - 0.5rem);
    }
  }
}
/*** / pay ***/


//
// .app {
//   margin-bottom: 100px;
// }
//
// .app {
//   background: #fff;
//   color: #001728;
//   font-family: 'Roboto', sans-serif;
//   border: 1px solid #fff;
//   border-radius: 4px;
//   -webkit-box-shadow: 0 0 10px 0 rgba(234,235,237,1);
//   -moz-box-shadow: 0 0 10px 0 rgba(234,235,237,1);
//   box-shadow: 0 0 10px 0 rgba(234,235,237,1);
//   position: relative;
//
//   & * {
//     box-sizing: border-box;
//   }
//
//   & input,
//   & select,
//   & textarea {
//     -webkit-appearance: none;
//   }
//
//   &__preloader {
//     position: absolute;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #fff;
//     z-index: 1001;
//     color: #001728;
//
//     & svg {
//       position: relative;
//       top: 50%;
//       left: 50%;
//       width: 70px;
//       height: 70px;
//       margin-top: -35px;
//       margin-left: -35px;
//       text-align: center;
//       -webkit-animation: preloader-rotate 4s infinite linear;
//       animation: preloader-rotate 4s infinite linear;
//     }
//
//     @-webkit-keyframes preloader-rotate {
//       100% {
//         -webkit-transform: rotate(360deg);
//         transform: rotate(360deg);
//       }
//     }
//
//     @keyframes preloader-rotate {
//       100% {
//         -webkit-transform: rotate(360deg);
//         transform: rotate(360deg);
//       }
//     }
//
//   }
//
//   &__add {
//     padding: 10px 20px;
//
//     & h2 {
//       color: #001728;
//       font-size: 20px;
//       line-height: 20px;
//       font-weight: 400;
//       text-align: center;
//       padding-bottom: 20px;
//     }
//
//     & input[type="text"] {
//       border: 2px solid #e4e6e8;
//       border-radius: 2px;
//       outline: 0;
//       padding: 7px 16px;
//       font-size: 16px;
//       width: 100%;
//       transition: 0.3s;
//       margin-bottom: 15px;
//       box-shadow: 0;
//       background: #fff;
//
//       &:focus {
//         border: 2px solid #3384ff;
//       }
//
//       &::placeholder {
//         color: #aaa;
//       }
//     }
//
//     & input[type="radio"] {
//       &:checked,
//       &:not(:checked) {
//         position: absolute;
//         left: -9999px;
//       }
//
//       &:checked + label,
//       &:not(:checked) + label {
//         display: inline-block;
//         position: relative;
//         padding-left: 40px;
//         line-height: 24px;
//         font-size: 16px;
//         cursor: pointer;
//       }
//
//       &:checked + label:before,
//       &:not(:checked) + label:before {
//         content: "";
//         position: absolute;
//         left: 5px;
//         top: 0;
//         width: 20px;
//         height: 20px;
//         border: 2px solid #e4e6e8;
//         background-color: #fff;
//         border-radius: 100%;
//       }
//
//       &:checked + label:after,
//       &:not(:checked) + label:after {
//         content: "";
//         position: absolute;
//         -webkit-transition: all 0.2s ease;
//         -moz-transition: all 0.2s ease;
//         -o-transition: all 0.2s ease;
//         transition: all 0.2s ease;
//         left: 9px;
//         top: 4px;
//         width: 16px;
//         height: 16px;
//         border-radius: 100%;
//         background-color: #3384ff;
//       }
//
//       &:not(:checked) + label:after {
//         opacity: 0;
//       }
//
//       &:checked + label:after {
//         opacity: 1;
//       }
//     }
//   }
//
//   &__radio {
//     padding: 10px 0;
//   }
//
//   &__button {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 20px 0;
//
//     &--back {
//       background: #e4e6e8;
//       padding: 7px 16px;
//       font-size: 14px;
//       text-transform: uppercase;
//       font-weight: 700;
//       color: #001728;
//       cursor: pointer;
//       border-radius: 2px;
//       transition: 0.5s;
//     }
//
//     &--next {
//       background: #3384ff;
//       padding: 7px 16px;
//       font-size: 14px;
//       text-transform: uppercase;
//       font-weight: 700;
//       color: #fff;
//       cursor: pointer;
//       border-radius: 2px;
//     }
//
//     &--finish {
//       background: #68c968;
//       padding: 7px 16px;
//       font-size: 14px;
//       text-transform: uppercase;
//       font-weight: 700;
//       color: #fff;
//       cursor: pointer;
//       border-radius: 2px;
//     }
//
//     &--step {
//       font-size: 14px;
//       color: #aaa;
//     }
//   }
//
//   &__map {
//     background: #ccc;
//     width: 100%;
//     height: 200px;
//
//     &--info {
//       & span {
//         display: block;
//         font-weight: 700;
//         font-size: 14px;
//       }
//     }
//   }
//
//   &__points {
//     margin: 20px 0;
//     max-height: 220px;
//     overflow-y: scroll;
//   }
//
//   &__price {
//     border-top: 1px solid #e4e6e8;
//
//     & span {
//       font-weight: 700;
//       font-size: 16px;
//     }
//
//     &--info {
//       & span {
//         display: block;
//         font-weight: 700;
//         font-size: 14px;
//       }
//     }
//   }
// }
// @media (min-width: 568px) {
//   .app {
//     &__add {
//       padding: 30px 50px 20px;
//     }
//   }
// }
