.footer{
  background: linear-gradient(330deg, #5B86E5 0%, #36D1DC 84.73%);
  padding: 15px 0;

  &__inner{
    display: inline-flex;
    flex-flow: wrap;

  }

  &__one{
    display: none;
    font-size: 18px;
    line-height: 22px;
  }

  &__two{
    width:100%;
    text-align: center;

    & a{
      text-decoration: none;
    }
  }

  &__social{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    & a{
      display: block;
      width:32px;
      height: 32px;
      border-radius: 50%;
      background: #FBFDFF;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5), inset 2px 4px 4px rgba(0, 0, 0, 0.25);
      transform: matrix(1, 0, 0, 1, 0, 0);
      margin: 0 25px;

      & img{
        margin-left: 2px;
        margin-top: 2px;
        padding: 4px;
        width:28px;
        height: 28px;
      }
    }
  }

  &__email{
    display: inline-flex;
    margin: 0 auto 20px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 3px 20px;
    font-size: 11px;
    line-height: 20px;
    color:#333;

    & img{
      margin-right: 7px;
      padding-right: 7px;
      border-right: 1px solid #404040;
    }
  }

  &__three{
    width:100%;
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    & a{
      color:#333;
      text-decoration: none;
    }
  }

  &__four, &__five{
    font-size: 8px;
    line-height: 150%;
    text-align: justify;
  }

}


@media (min-width: 1024px) {
  .footer{
    padding:30px 0;

    &__inner{
      align-items: center;
    }

    &__one{
      display: block;
      width:30%;
    }

    &__two{
      order: 1;
      width:30%;
    }

    &__social{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      & a{
        width:40px;
        height: 40px;
        margin: 0 25px;

        & img{
          margin-left: 1px;
          margin-top: 4px;
          padding: 4px;
          width:30px;
          height: 30px;
        }
      }
    }

    &__email{
      margin: 0 auto 40px;
      padding: 6px 20px;
      font-size: 16px;
      line-height: 24px;

      & img{
        width: 30px;
        margin-right: 7px;
        padding-right: 7px;
        border-right: 1px solid #404040;
      }
    }

    &__three{
      width:40%;
      font-size: 18px;
      line-height: 22px;
    }

    &__four, &__five{
      order: 2;
      font-size: 10px;
    }

    &__four{
      width:30%;
      margin-right: 20px;
    }

    &__five{
      width:calc(70% - 20px);
    }

  }
}
