*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  line-height: 150%;
  font-family: $font-family;
  font-weight: normal;
  background: #FBFDFF;
  scroll-behavior: smooth;
}

.container{
  width:100%;
  max-width: $container-width;
  padding: 0 15px;
  margin:0 auto;
}

.top{
  display: none;
  position: fixed;
  z-index: 999;
  right:16px;
  bottom: 50px;
  width:37px;
  height:37px;
  background: url("../img/top.svg") no-repeat #FFFFFF;
  background-position: center;

  box-shadow: 0px 4px 20px #71AFD8, inset -2px -2px 6px rgba(54, 209, 220, 0.25), inset 2px 2px 6px rgba(54, 209, 220, 0.25);
  border-radius: 50%;
  cursor: pointer;
}
