.five{
  & h2{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 133%;
    margin-bottom: 24px;
  }

  & .program{
    max-width: 840px;
    margin: 0 auto 16px;

    &__item{
      font-size: 18px;
      line-height: 150%;
      padding: 24px calc(32px + 40px) 24px 32px;
      background: #6DD5F6;
      color:#fff;
      position: relative;
      //pointer-events: none;
      cursor: pointer;

      &:before{
        content:'';
        position: absolute;
        width:1px;
        height:32px;
        background: #fff;
        right:calc(32px + 15px);
        top:calc(24px);
      }

      &:after{
        content:'';
        position: absolute;
        width:32px;
        height:1px;
        background: #fff;
        right:calc(32px);
        top:calc(24px + 15px);
      }
    }

    &__item.no-plus{
      cursor: auto;
      &:before,&:after{
        content:none;
      }
    }

    &__desc{
      display: none;
      padding:16px 0;

      & ul{
        padding-left: 30px;

        & li{
          padding: 5px 0;
        }
      }
    }

    &.active{
      & .program__desc{
        display: block;
      }
    }
  }
}

@media (min-width: 1024px){
  .five{
    padding: 50px 0;
    & h2{
      font-size: 48px;
      margin-bottom: 40px;
    }

    & .program{
      &__item{
        font-size: 24px;
      }
    }
  }
}
