.four{
  color:#fff;
  margin-bottom: 100px;

  & .container{
    background: #6DD5F6;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  & h2{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 133%;
    margin-bottom: 24px;
    color:#fff;
  }

  & ul{
    max-width: 80%;
    margin: 0 auto;

    & li{
      margin-bottom: 36px;
    }
  }

  &__desc{
    font-size: 18px;
    line-height: 133%;
    text-align: center;
  }
}

@media (min-width: 1024px){
  .four{

    & .container{
      padding-left: 38px;
      padding-right: 38px;
      position: relative;

      &::before{
        content:'';
        background: url('/img/5.svg') no-repeat;
        background-size: contain;
        position: absolute;
        width:500px;
        height:500px;
        right:-300px;
        top:-100px;
      }

      &::after{
        content:'';
        background: url('/img/5.svg') no-repeat;
        background-size: contain;
        position: absolute;
        width:500px;
        height:500px;
        left:-200px;
        bottom:-330px;
      }
    }

    & h2{
      font-size: 48px;
    }

    & ul{
      max-width: 80%;
      margin: 0 auto;

      & li{
        margin-bottom: 36px;
        font-size: 24px;
        line-height: 133%;
      }
    }

    &__desc{
      font-size: 36px;
    }
  }

}
