.header{
  padding:50px 0;
  background: #3ca3f8;

  & .container{
    position: relative;
    max-width: 1100px;
  }

  & h1{
    color:#fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 117%;
    text-align: center;
    margin-bottom: 15px;
  }

  & img{
    width:100%;
    margin-bottom: 15px;
  }

  &__desc{
    color:#fff;
    font-size: 16px;
    line-height: 133%;
    text-align: center;
    padding-bottom: 15px;
  }

  &__text{
    color:#fff;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    font-weight: 600;
    padding-bottom: 30px;

    & span{
      color:#ff0000;
      text-decoration: line-through;
    }
  }

  &__button{
    font-weight: bold;
    font-size: 24px;
    line-height: 72px;
    text-align: center;
    color: #1980F9;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 24px 60px;
    box-shadow: 0px 0px 10px 2px rgba(219,219,219,1);

    &--wrap{
      text-align: center;
    }
  }
}


@media (min-width: 1024px){
  .header{
    padding:64px 0;
    background: none;
    position: relative;

    &:before{
      content: '';
      background: url('/img/1.svg') no-repeat;
      z-index: -1;
      position: absolute;
      background-position: center bottom;
      top: 0;
      width:100%;
      height: 100%;
    }

    & h1{
      font-size: 48px;
      text-align: left;
      margin-bottom: 32px;
      padding-top: 36px;
      max-width: 600px;
    }

    & img{
      position: absolute;
      width:100%;
      max-width: 480px;
      right:0;
      top:0;
      margin-bottom: 15px;
    }

    &__desc{
      font-size: 24px;
      text-align: left;
      padding-bottom: 32px;
      max-width: 600px;
    }

    &__text{
      font-size: 36px;
      text-align: left;
      padding-bottom: 36px;
      max-width: 600px;
    }

    &__button{
      padding: 24px 80px;

      &--wrap{
        text-align: left;
      }
    }
  }
}

@media (min-width: 1366px){
  .header{
    background: none;

    &:before{
      background-position: right bottom;
      width:1500px;
      height:1000px;
      top:-250px;
      left:-280px;
      // top: 0%;
      // left: -10%;
      // width:100%;
      // height: 120%;
    }

    & h1{
      max-width: 630px;
    }

    & img{
      position: absolute;
      width:100%;
      max-width: 600px;
      right:-130px;
      //right:0;
      top:0;
      margin-bottom: 15px;
    }

    &__desc{
      max-width: 580px;
    }

    &__text{
      max-width: 730px;
    }
  }
}

@media (min-width: 1920px){
  .header{
    &:before{
      left:0;
    }
  }
}
