.three{
  margin: 50px 0;
  & h2{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 133%;
    margin-bottom: 24px;
  }
  & ul{
    margin: 0;
    padding: 0;

    & li{
      list-style-type: none;
      padding-left: 10px;
      position: relative;
    }
  }

  &__item{
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 1px solid #6DD5F6;

    &::before{
      content:'';
      position: absolute;
      left: -10px;
      top:-10px;
      width:20px;
      height:20px;
      border-radius: 50%;
      background: #6DD5F6;
      border: 10px solid #fff;
    }
  }

  &__button{
    margin: 50px 0;
    text-align: center;
  }
}


@media (min-width: 1024px){
  .three{
    margin: 100px 0;

    & .container{
      position: relative;

      &::before{
        content:'';
        background: url('/img/2.svg') no-repeat;
        background-size: contain;
        position: absolute;
        width:1000px;
        height:1000px;
        left:-500px;
        top:-330px;
        //transform: rotate(-20deg);
      }

      &::after{
        content:'';
        background: url('/img/2.svg') no-repeat;
        background-size: contain;
        position: absolute;
        width:1000px;
        height:1000px;
        right:-600px;
        bottom:-70px;
        //transform: rotate(-20deg);
      }
    }

    & h2{
      font-size: 48px;
      margin-bottom: 50px;
    }
    & ul{
      max-width: 730px;
      margin: 0 auto;
      display: block;

      & li{
        padding-left: 0;
        padding-right: 50%;
      }
    }

    &__item{
      font-size: 24px;
      line-height: 133%;
      margin-bottom: 50px;
      padding-left: 0;
      padding-right: 60px;
      border-left: 0;
      border-right: 1px solid #6DD5F6;
      text-align: right;
      position: relative;

      &::before{
        left: inherit;
        right:-30px;
        top:-10px;
        width:40px;
        height:40px;
      }
    }

    &__button{
      margin: 50px 0;
      text-align: center;
    }

    & ul li:nth-child(even){
      padding-left: 50%;
      padding-right: 0;

      & .three__item{
        padding-left: 60px;
        padding-right: 0;
        border-left: 1px solid #6DD5F6;
        border-right: 0;
        text-align: left;

        &::before{
          left:-30px;
        }
      }
    }

  }
}
