.footer{
  color: #676793;

  &__inner{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    &--align-item-center{
      align-items: center;
    }

    &--space-between{
      justify-content: space-between;
    }
  }

  &__logo{
    font-size: 16px;
    font-weight: 800;
    color:#0d0d3f;
    text-transform: uppercase;
  }

  &__stat{
    & > strong{
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #0d0d3f;
    }

    & > span{
      display: block;
      font-size: 12px;
      line-height: 14px;
      color: #676793;
    }
  }

  &__lang{
    display: none;
    @media(min-width: 1024px){
      display: block;
    }
  }

  &__hr{
    width: calc(100% + 40px);
    height: 2px;
    background: #ddd9e7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;

    @media(min-width: 1366px){
      width: 100%;
      margin: 10px 0;
    }

    &--none{
      display: none;

      @media(min-width: 768px){
        display: block;
      }

      @media(min-width: 1366px){
        display: none;
      }
    }
  }

  &__menu{
    width: 100%;
    margin: 10px 0;

    @media(min-width: 768px){
      width: calc(100% / 3);
    }

    @media(min-width: 1366px){
      width: calc(100% / 5);
    }

    & > h3{
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #0d0d3f;
      opacity: 0.7;
    }

    & > ul {
      margin: 12px 0;
      padding: 0;

      & > li{
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 400;

        & > a{
          color: #676793;
          padding: 4px 6px;
          border-radius: 4px;
          text-decoration: none;
          margin-left: -6px;
          display: inline-flex;
          align-items: center;

          &:hover{
            background: #efefef;
          }
        }
      }
    }
  }

  &__copy{
    padding: 20px 0;
  }

  &__social{
    &--telegram{
      & > span{
        margin-left: 10px;
      }

      & > svg > path{
        fill: #676793;
      }

      &:hover{
        background: rgba(16, 164, 238, 0.1)!important;
        color: #10a4ee;
        transition: all 0.2s ease-in-out;

        & > svg > path{
          fill: #10A4EE;
        }
      }
    }

    &--twitter{
      & > span{
        margin-left: 10px;
      }

      & > svg > path{
        fill: #676793;
      }

      &:hover{
        background: rgba(16, 164, 238, 0.1)!important;
        color: #10a4ee;
        transition: all 0.2s ease-in-out;

        & > svg > path{
          fill: #47D3FF;
        }
      }
    }

    &--facebook{
      & > span{
        margin-left: 10px;
      }

      & > svg > path{
        fill: #676793;
      }

      &:hover{
        background: rgba(38, 84, 174, 0.1)!important;
        color: #2654ae;
        transition: all 0.2s ease-in-out;

        & > svg > path{
          fill: #2654AE;
        }
      }
    }

    &--youtube{
      & > span{
        margin-left: 10px;
      }

      & > svg > path{
        fill: #676793;
      }

      &:hover{
        background: rgba(253, 42, 71, 0.1)!important;
        color: #fd2a47;
        transition: all 0.2s ease-in-out;

        & > svg > path{
          fill: #FD2A47;
        }
      }
    }
  }
}
