*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
  font-weight: 400;
  background: #f7f8fb;
  overflow-x: hidden;

  &.nav--open{
    overflow: hidden;
  }
}

.main{
  max-width: 1180px;
  padding: 30px 16px;
  margin: 0px auto;
  @media(min-width: 1366px){
      padding: 60px 24px;
  }
}
